<!-- bad-request.component.html -->
<div class="bad-request-container">
    <div class="error-content">
      <div class="decorative-lines"></div>
      <div class="error-message">
        <img src="assets/logo.png" alt="Logo de la empresa" class="logo">
        <h2>Error 400: Solicitud Incorrecta</h2> <img src="assets/carpetaInc.png" alt="Logo de la empresa" class="ico">

      <p>La solicitud realizada no pudo ser procesada debido a un error en los datos proporcionados.</p>
      <p>Este error puede deberse a parámetros incorrectos, datos mal formateados o información faltante en la solicitud.</p>
      <p>Revise los datos enviados y asegúrese de cumplir con los requisitos necesarios para realizar la solicitud.</p>
      <p>Si el problema persiste, comuníquese con nuestro equipo de soporte técnico para obtener asistencia adicional.</p>
      <p>Vuelve a la <a routerLink="/">página de inicio</a> para explorar nuestras increíbles ofertas.</p>
      </div>
    </div>
  </div>
  