/* bad-request.component.css */
.bad-request-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e74c3c; /* Fondo rojo */
  }
  
  .error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Para posicionar las líneas decorativas */
  }
  
  .decorative-lines {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 2px;
    background-color: #3498db; /* Color de las líneas decorativas */
  }
  
  .logo {
    max-width: 150px;
    margin-bottom: 1px;
    border-radius: 10%;
  }
  .ico {
    max-width: 50px; /* Ajusta el tamaño del logo según tus necesidades */
    margin-bottom: 1px;
    border-radius: 10%;
  }
  .error-message {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #3498db;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .error-message h2 {
    color: #e74c3c;
  }
  
  .error-message p {
    color: #34495e;
    margin-bottom: 10px;
  }
  
  .error-message a {
    color: #2ecc71;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .error-message a:hover {
    color: #27ae60;
  }
  