.admin-pagos-container {
    padding: 20px;
    text-align: center;
}

.table-container {
    margin: 20px 0;
}

.payments-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.payments-table th, .payments-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.payments-table th {
    background-color: #2ecc71;
    color: #fff;
}

.payments-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.payments-table button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.payments-table button:hover {
    background-color: #2980b9;
}

  
  /*-----------------------------------------------------------------------------------*/
  nav {
    background-color: #ffdbac;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #ff8c00;
    color: #fff;
  }
  
  nav a.current {
    background-color: #ff8c00;
    color: #fff;
  }
  