.main-container { display: flex; justify-content: space-between; margin: 20px auto; max-width: 1200px; }
.carrito-container { flex-basis: 50%; border: 5px solid #ccc; padding: 20px; border-radius: 10px; background-color: #efefef; margin-bottom: 6%; margin-right: 3%; margin-left: 0.2%; }
.columna-derecha { flex-basis: 50%; display: flex; flex-direction: column; margin-bottom: 6%; }
.botones { display: flex; align-items: center; }
.botones p { margin-left: 3px; margin-right: 3px; }
.productos-container { flex-basis: 60%; border: 5px solid #ccc; padding: 20px; border-radius: 10px; background-color: #ffffff; margin-bottom: 3%; }
.resumen-container, .comprar-container { border: 5px solid #ccc; padding: 20px; border-radius: 10px; background-color: #efefef; margin-bottom: 20px; }
.info-container { flex-basis: calc(40% - 150px); border: 5px solid #ccc; padding: 20px; border-radius: 10px; background-color: #efefef; margin-top: 20px; }
.producto input[type="text"] { width: 100%; padding: 8px; margin-top: 5px; border: 1px solid #ccc; border-radius: 4px; transition: border-color 0.3s ease; }
.producto input[type="text"]:hover, .producto input[type="text"]:focus { border-color: #4CAF50; outline: none; }
.info-producto { flex: 1; }
.nombre { font-weight: bold; }
.detalles { margin-bottom: 10px; font-weight: bold; color: green; }
.cantidad-container { width: 100px; text-align: center; }
.cantidad-container input { width: 50px; }
.subtotal { font-weight: bold; color: green; }
.cantidad-select { margin-left: 10px; }
.comprar-button { background-color: #4CAF50; color: white; padding: 12px 24px; border: none; border-radius: 4px; cursor: pointer; text-align: center; text-decoration: none; display: block; width: 100%; font-size: 16px; transition: background-color 0.3s; }
.comprar-button:hover { background-color: #45a049; }
.resumen-item { display: flex; justify-content: space-between; margin-bottom: 10px; }
.resumen-item span:first-child { font-weight: bold; }
.resumen-item-container { flex-basis: 60%; border: 3px solid #e4aa63; padding: 20px; border-radius: 10px; background-color: #ffffff; }
.boton-combo { margin-bottom: 20px; }
.boton-combo button { background-color: #007bff; color: white; padding: 10px 15px; border: none; border-radius: 4px; cursor: pointer; margin-bottom: 10px; }
.boton-combo button:hover { background-color: #0056b3; }
.boton-combo select, .cuenta-combobox select { width: 100%; padding: 10px; border-radius: 4px; border: 1px solid #ccc; }
.formulario-direccion, .formulario-cuenta { background-color: #f8f9fa; border-radius: 5px; padding: 20px; margin-top: 10px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 999; padding-right: 3%; padding-left: 3%; }
.formulario-direccion h3, .formulario-cuenta h3 { color: #333; margin-bottom: 15px; }
.formulario-direccion label, .formulario-cuenta label { display: block; margin-bottom: 5px; color: #666; }
.formulario-direccion input, .formulario-cuenta input { width: 100%; padding: 8px; margin-bottom: 15px; border-radius: 4px; border: 1px solid #ccc; }
.formulario-direccion button, .formulario-cuenta button { padding: 10px 15px; border: none; border-radius: 4px; cursor: pointer; margin-right: 10px; }
.formulario-direccion button:first-child, .formulario-cuenta button:first-child { background-color: #28a745; color: white; }
.formulario-direccion button:last-child, .formulario-cuenta button:last-child { background-color: #dc3545; color: white; }
.formulario-direccion button:hover, .formulario-cuenta button:hover { opacity: 0.9; }
.comprar-container button { background-color: #4CAF50; color: white; padding: 10px 15px; font-size: 16px; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s, transform 0.2s; margin-bottom: 3%; }
.comprar-container button:hover, .comprar-container button:focus { background-color: #45a049; transform: translateY(-2px); outline: none; }
.comprar-container select, .cuenta-combobox select { width: 100%; padding: 8px 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 5px; background-color: white; color: #333; cursor: pointer; transition: border-color 0.3s; margin-bottom: 8%; }
.comprar-container select:hover, .comprar-container select:focus { border-color: #4CAF50; outline: none; }
.agregar-cuenta-button { background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease; font-weight: bold; margin-right: 10px; }
.agregar-cuenta-button:hover { background-color: #0056b3; }
.mensaje-exitoso { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #4CAF50; color: white; padding: 20px; border-radius: 10px; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 40%; height: 40%; }
.mensaje-exitoso i { font-size: 60px; margin-bottom: 20px; }
.mensaje { font-size: 120%; }
.mensaje-exitoso button { background-color: rgb(25, 123, 221); color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-size: 20px; margin-top: 20px; }
.mensaje-exitoso button:hover { background-color: #d6dce1; }
nav { background-color: #ffdbac; padding: 10px 0; text-align: center; border-radius: 10px; }
nav a { margin: 0 10px; text-decoration: none; color: #333; font-size: 18px; font-weight: bold; padding: 8px 12px; border-radius: 5px; transition: background-color 0.3s ease; }
nav a:hover, nav a.cart-icon-link:hover { background-color: #ff8c00; color: #fff; }
nav a.current { background-color: #ff8c00; color: #fff; }
.cart-icon-container { margin-top: 15%; position: absolute; top: 20px; right: 40px; z-index: 9999; font-size: 24px; }
nav a.cart-icon-link { display: inline-flex; align-items: center; justify-content: center; padding: 8px 12px; font-size: 16px; }
nav a.cart-icon-link i { margin-right: 5px; }
.breadcrumbs { margin: 10px 0; font-size: 17px; color: #555; margin-top: 1%; margin-left: 3.5%; }
.breadcrumbs a { text-decoration: none; color: #3498db; cursor: pointer; }
.breadcrumbs a:hover { text-decoration: underline; }
.producto { display: flex; flex-direction: column; gap: 20px; align-items: center; justify-content: space-between; border: 3px solid #e4aa63; border-radius: 10px; padding: 20px; background-color: #ffffff; margin-bottom: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
.producto:hover { transform: scale(1.01); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
@media (max-width: 768px) { .main-container { flex-direction: column; padding: 10px; max-width: 100%; } .comprar-button { font-size: 14px; padding: 10px; } .comprar-container { padding: 15px; } }
@media screen and (max-width: 480px) { .comprar-button { font-size: 12px; padding: 8px; } }

button {padding: 10px 15px; border: none; border-radius: 5px;font-size: 16px; cursor: pointer;transition: all 0.3s ease;}
button.primary {background-color: #007bff;color: #fff;font-weight: bold;}
button.primary:hover {background-color: #0056b3; transform: scale(1.05);}
button.secondary { background-color: #4CAF50; color: #fff;}
button.secondary:hover { background-color: #4CAF50; transform: scale(1.05);}
button.danger {background-color: #dc3545; color: #fff;}
button.danger:hover {background-color: #bd2130;transform: scale(1.05);}
button:active {transform: scale(0.95);}
.formulario-direccion button,
.formulario-cuenta button {width: auto;}