

<app-header-admin></app-header-admin>
<nav>
  <a routerLink="/inicio-clientes" >Inicio</a>
  <a routerLink="/admin-activacion-perfiles"class="current">Activacion/Desactivación</a>
  <a routerLink="/admin-perfiles">acceso de clientes</a>

</nav>
<div class="container">

<div class="info-container">
  <h2>Registro de Restaurante</h2>

  <div class="info-section">
    <h3>Información Básica</h3>
    <div class="info-item">
      <strong>Nombre del Restaurante:</strong> Nombre aquí
    </div>
    <div class="info-item">
      <strong>Correo Electrónico:</strong> correoexample.com
    </div>
    <div class="info-item">
      <strong>Número telefónico del encargado:</strong> 1234567890
    </div>
    <div class="info-item">
      <strong>Nombre del Encargado:</strong> Nombre Encargado
    </div>
    <div class="info-item">
      <strong>Apellido del Encargado:</strong> Apellido Encargado
    </div>
    <div class="info-item">
      <strong>Dirección del Restaurante:</strong> Dirección aquí
    </div>
    <div class="info-item">
      <strong>Contraseña:</strong> *********
    </div>
  </div>
<br>
  <div class="info-section">
    <h3>Datos Adicionales del Restaurante</h3>
    <div class="info-item">
    <p><strong>Número del Restaurante:</strong> 001</p>
  </div>
    <div class="info-item">
    <p><strong>Razón Social:</strong> Razón Social aquí</p>
  </div>
    <div class="info-item">
    <p><strong>Domicilio Fiscal:</strong> Domicilio aquí</p>
  </div>
    <div class="info-item">
    <p><strong>Menú por Imagen:</strong> [Enlace a imagen/imagen embebida]</p>
  </div>
</div>
<br>

  <div class="info-section">
    <h3>Información Bancaria del Restaurante</h3>
    <div class="info-item">
    <p><strong>Nombre del Titular de la Cuenta:</strong> Titular aquí</p>
  </div>
    <div class="info-item">
    <p><strong>Dirección:</strong> Dirección aquí</p>
  </div>
    <div class="info-item">
    <p><strong>Ciudad:</strong> Ciudad aquí</p>
  </div>
    <div class="info-item">
    <p><strong>Código Postal:</strong> Código Postal aquí</p>
  </div>
    <div class="info-item">
    <p><strong>Número CLABE INTERBANCARIA:</strong> Número CLABE aquí</p>
  </div>
</div>
<br>

  <div class="info-section">
    <h3>Documentos del Restaurante</h3>
    <div class="info-item">
    <p><strong>Identificación Oficial (INE o Pasaporte):</strong> [Enlace al documento/archivo]</p>
  </div>
    <div class="info-item">
    <p><strong>Constancia Fiscal:</strong> [Enlace al documento/archivo]</p>
  </div>
    <div class="info-item">
    <p><strong>Estado de Cuenta Bancaria:</strong> [Enlace al documento/archivo]</p>
  </div>
    <div class="info-item">
    <p><strong>Licencia de Funcionamiento para Venta de Alcohol:</strong> [Enlace al documento/archivo]</p>
  </div>
</div>
</div>
</div>
