<!-- not-found.component.html -->
<app-header></app-header>
<div class="not-found-container">
    <div class="error-content">
      <div class="decorative-lines"></div>
      <div class="error-message">
        <img src="assets/logo.png" alt="Logo de la empresa" class="logo">
        <h2>Error 404 </h2> <img src="assets/64671.png" alt="Logo de la empresa" class="ico">
        <p>¡Vaya! Parece que has llegado a un lugar desconocido.</p>
        <p>La página que estás buscando no existe en nuestra aplicación.</p>
        <p>Quizás ingresaste una URL incorrecta o la página fue eliminada.</p>
        <p>Vuelve a la <a routerLink="/">página de inicio</a> para explorar nuestras increíbles ofertas.</p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>