<!-- info-restaurante.component.html -->
<!-- info-restaurante.component.html -->

<app-header-cliente></app-header-cliente>

<nav>
    <a routerLink="/inicio-cliente">Inicio</a>
    <a routerLink="/restaurantes-cliente" class="current">Restaurantes</a>
    <a routerLink="/cli-envios">Envíos</a>
    <a routerLink="/cli-ofertas">Ofertas</a>
    <a routerLink="/mis-pedidos">Mis pedidos</a>
    <!-- Icono del carrito dentro del nav -->
    <a routerLink="/carrito-clienteG" class="cart-icon-link">
        <i class="fas fa-shopping-cart"></i> Carrito
    </a>
</nav>
<div class="restaurant-info">
    <img [src]="getImageUrl(Restaurante.logoRestaurant)" [alt]="Restaurante?.nombreRestaurante">
    <div class="restaurant-name">{{ Restaurante.nombreRestaurante }}</div>
    <p class="restaurant-description">Descripción detallada del restaurante. Puedes incluir información sobre la historia, la especialidad culinaria, etc.</p>
</div>

<div class="products-container">
    <div *ngFor="let product of products" class="product"><!---->
        <img [src]="getImageUrl(product.imagen[0])" [alt]="product?.nombre">
        <h3>{{ product?.nombre }}</h3>
        <p class="product-description">{{ product?.descripcion }}</p>
        <div class="product-price">${{ product?.precio.$numberDecimal }}</div>
        <p class="product-description">HORA APERTURA: {{ formatTime( Restaurante.horaApertura)}}</p>
        <p class="product-description">HORA CIERRE: {{ formatTime( Restaurante.horaCierre)}}</p>
<div class="product-tags">
    <ng-container *ngFor="let tag of product.etiquetas">
        <a href="#" class="product-tag">{{ tag }}</a>
    </ng-container>
</div>


          <!-- Lógica para habilitar/deshabilitar botones según la hora de apertura y cierre -->
          <div *ngIf="isRestaurantOpen()">
            <div class="action-buttons">
                <a [routerLink]="['/carrito-cliente', product?._id]" class="buy-button">Comprar</a>
                <button class="add-to-cart-button" (click)="addToCart(product?._id, product?.idRestaurante)">Agregar al carrito</button>
                <a [routerLink]="['/info-producto', product?._id]" class="view-button">Ver</a>
            </div>
        </div>
        <div *ngIf="!isRestaurantOpen()">
           
            <p>Estimado cliente, por el momento, el restaurante está cerrado.</p>
            <p>*Te invitamos a volver más tarde para realizar tu compra.*</p>
        </div>
    </div>
</div>



<!-- Mensaje emergente -->
    <div *ngIf="showMessage" class="message-container">
    <i class="fas fa-exclamation-circle icon"></i>
    <p class="message">Producto agregado al carrito</p>
    <i class="fas fa-shopping-cart"></i>
    <a (click)="goToCart()" class="link" >Ir al carrito</a>
  </div>

  <!-- Mensaje emergente -->
  <div *ngIf="showMessage1" class="message-container">
    <i class="fas fa-exclamation-circle icon"></i>
    <p class="message">El producto ya se encuentra en el carrito</p>
    <i class="fas fa-shopping-cart"></i>
    <a (click)="goToCart()" class="link" >Ir al carrito</a>
  </div>


    <!-- Puedes agregar más productos con detalles adicionales -->

<app-footer></app-footer>