<!-- header-restaurante.component.html -->
<header>
    <div class="header-restaurante">
        <div class="logo">
            <img src="assets/logo.png" alt="Unicornio">
        </div>
        <div class="title">
            <p class="p">Sistema integral de pedidos y promoción restaurantera</p>
        </div>
        <nav>
            <ul>
                <!-- Agrega otros elementos del menú aquí -->
                <li><a href="#" (click)="logout()">Cerrar Sesión 🚪</a></li>

            </ul>
        </nav>
    </div>
</header>