<app-header-admin></app-header-admin>

<nav>
    <a routerLink="/inicio-admin">Inicio</a>
    <a routerLink="/admin-activacion-perfiles">Activación/Desactivación</a>
    <a routerLink="/admin-acceso-clientes" class="current">Acceso de Clientes</a>
    <a routerLink="/admn-pagos">Pagos</a>
</nav>

<mat-card class="profile-card">
    <mat-card-title>Administración de Perfiles</mat-card-title>
    <mat-card-content>
        <p>Aquí puedes administrar los perfiles de usuario, revisar información detallada, y gestionar los accesos.</p>
    </mat-card-content>
    <mat-card-content>
        <div class="admin-perfiles-container">
            <h3>Repartidores</h3>
            <table class="payments-table">
                <thead>
                    <tr>
                        <th>Nombre del Usuario</th>
                        <th>Tipo de Perfil</th>
                        <th>Info. del Perfil</th>
                        <th>Fecha de Registro</th>
                        <th>Estado del Acceso</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of dataSourceRepartidores">
                        <td>{{element.nombreUsuario}}</td>
                        <td>{{element.tipoPerfil}}</td>
                        <td><button mat-button routerLink="/info-registro-repartidor">Ver Info</button></td>
                        <td>{{element.fechaRegistro | date:'dd/MM/yyyy'}}</td>
                        <td>{{element.estadoAcceso}}</td>
                        <td>
                            <button mat-raised-button color="primary" (click)="aceptarRepartidor(element)">Aceptar</button>
                            <button mat-raised-button color="warn" (click)="rechazarRepartidor(element)">Rechazar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>

    <mat-card-content>
        <div class="admin-perfiles-container">
            <h3>Restaurantes</h3>
            <table class="payments-table">
                <thead>
                    <tr>
                        <th>Nombre del Usuario</th>
                        <th>Tipo de Perfil</th>
                        <th>Info. del Perfil</th>
                        <th>Fecha de Registro</th>
                        <th>Estado del Acceso</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of dataSourceRestaurantes">
                        <td>{{element.nombreUsuario}}</td>
                        <td>{{element.tipoPerfil}}</td>
                        <td><button mat-button routerLink="/info-registro-restaurante">Ver Info</button></td>
                        <td>{{element.fechaRegistro | date:'dd/MM/yyyy'}}</td>
                        <td>{{element.estadoAcceso}}</td>
                        <td>
                            <button mat-raised-button color="primary" (click)="aceptarRestaurante(element)">Aceptar</button>
                            <button mat-raised-button color="warn" (click)="rechazarRestaurante(element)">Rechazar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #rechazarDialog let-data>
    <h2 mat-dialog-title>Rechazar Perfil</h2>
    <mat-dialog-content>
        <p>Especifica la razón del rechazo de la información:</p>
        <mat-form-field appearance="fill">
            <textarea matInput placeholder="Escribe la razón aquí" rows="5"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button color="warn" [mat-dialog-close]="true">Rechazar</button>
    </mat-dialog-actions>
</ng-template>
