nav {
    background-color: #ffdbac;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
  }
  .profile-card {
    margin: 20px;
    padding: 15px;
  }
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  button{
    background-color: #ffdbac;
  }
  nav a:hover {
    background-color: #ff8c00;
    color: #fff;
  }
  
  nav a.current {
    background-color: #ffa600;
    color: #fff;
  }
  

  .chart-container {
    display: flex;           /* Usa flexbox para alinear los elementos en una fila */
    justify-content: space-between;  /* Espacio entre los gráficos */
    gap: 20px;               /* Opcional: Espacio entre los gráficos */
    flex-wrap: wrap;         /* Esto permite que los gráficos se ajusten si el espacio es muy pequeño */
  }
  
  highcharts-chart {
    width: 30%;              /* Ajusta el tamaño de cada gráfico para que quepan bien en la fila */
    height: 400px;           /* Ajusta la altura de los gráficos según sea necesario */
  }
  
  .chart-title {
    font-size: 24px;          /* Ajusta el tamaño de la fuente */
    font-weight: bold;        /* Pone el texto en negritas */
    text-align: center;       /* Centra el texto */
    margin-bottom: 20px;      /* Agrega un espacio debajo del título */
  }
  