<app-header-admin></app-header-admin>

<nav>
  <a routerLink="/inicio-admin" class="current">Inicio</a>
  <a routerLink="/admin-activacion-perfiles">Activacion/Desactivación</a>
  <a routerLink="/admin-perfiles">acceso de clientes</a>
  <a routerLink="/admn-pagos">Pagos</a>
</nav>


<h2 class="chart-title">FEEDBACK DE USUARIOS DE LA APLICACIÓN MÓVIL</h2>
<div class="chart-container">  
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsPreguntaUno"></highcharts-chart>
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsPreguntaDos"></highcharts-chart>
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsPreguntaTres"></highcharts-chart>
</div>
<br>
<h2 class="chart-title">FEEDBACK DE USUARIOS DEL SITIO WEB</h2>

<div class="chart-container" style="display: flex; justify-content: space-around;">
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionswebPreguntaUno"></highcharts-chart>
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionswebPreguntaDos"></highcharts-chart>
  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionswebPreguntaTres"></highcharts-chart>
</div>
