<app-header-admin></app-header-admin>
<nav>
    <a routerLink="/inicio-clientes" >Inicio</a>
    <a routerLink="/admin-activacion-perfiles"class="current">Activacion/Desactivación</a>
    <a routerLink="/admin-perfiles">acceso de clientes</a>
</nav>

<div class="container">
    <div class="info-container">
        <h2>Registro de Repartidor</h2>

        <div class="info-section">
            <h3>Información Personal</h3>
            <div class="info-item">
                <strong>Nombre:</strong> Nombre aquí
            </div>
            <div class="info-item">
                <strong>Apellidos:</strong> Apellidos aquí
            </div>
            <div class="info-item">
                <strong>Ciudad:</strong> Ciudad aquí
            </div>
            <div class="info-item">
                <strong>Número de Teléfono:</strong> Número de teléfono aquí
            </div>
            <div class="info-item">
                <strong>Correo Electrónico:</strong> Correo electrónico aquí
            </div>
            <div class="info-item">
                <strong>Contraseña:</strong> *********
            </div>
        </div>
<br>
        <div class="info-section">
            <h3>Información del Vehículo (Motocicleta)</h3>
            <div class="info-item">
                <strong>Marca de la Moto:</strong> Marca de la moto aquí
            </div>
            <div class="info-item">
                <strong>Modelo de la Moto:</strong> Modelo de la moto aquí
            </div>
            <div class="info-item">
                <strong>Año de la Moto:</strong> Año de la moto aquí
            </div>
            <div class="info-item">
                <strong>Matrícula de la Moto:</strong> Matrícula de la moto aquí
            </div>
        </div>
<br>
        <div class="info-section">
            <h3>Información del Vehículo (Carro)</h3>
            <div class="info-item">
                <strong>Marca del Carro:</strong> Marca del carro aquí
            </div>
            <div class="info-item">
                <strong>Modelo del Carro:</strong> Modelo del carro aquí
            </div>
            <div class="info-item">
                <strong>Año del Carro:</strong> Año del carro aquí
            </div>
            <div class="info-item">
                <strong>Matrícula del Carro:</strong> Matrícula del carro aquí
            </div>
        </div>
<br>
        <div class="info-section">
            <h3>Configuremos tu cuenta</h3>
            <div class="formulario-identificacion">
                <h4>Identificación Oficial con CURP visible (IFE o INE)</h4>
                <p>Archivo: [Enlace al documento/archivo]</p>
            </div>
            <div class="formulario-licencia">
                <h4>Licencia para Conducir Vigente</h4>
                <p>Archivo: [Enlace al documento/archivo]</p>
            </div>
            <div class="formulario-foto-perfil">
                <h4>Foto de Perfil</h4>
                <ul>
                    <li>Vista Frontal: [Enlace a la imagen/archivo]</li>
                    <li>Perfil Izquierdo: [Enlace a la imagen/archivo]</li>
                    <li>Perfil Derecho: [Enlace a la imagen/archivo]</li>
                </ul>
            </div>
            <div class="formulario-clave-interbancaria">
                <h4>Clave Interbancaria</h4>
                <p>Clave interbancaria aquí</p>
            </div>
        </div>

    </div>
</div>
