
.orders-container {
    text-align: center;
    padding: 20px;
}

/* Título de pedidos */
.orders-container .orders-title {
    background-color: #2ecc71;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Contenedor de pedidos */
.pedidos-container {
    width: 80%;
    margin: 0 auto;
}

/* Elemento de pedido */
.order-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Títulos de elementos de pedido */
.order-item h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 22px;
}

.order-item p {
    margin: 5px 0;
}

.order-item strong {
    display: block;
    margin-bottom: 5px;
    color: #2ecc71;
}

/* Estilos para botones de acción */
.order-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.order-buttons button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}
/* Estilo para los botones de acción */
.add-bank-button, .withdraw-button {
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.add-bank-button:hover, .withdraw-button:hover {
    background-color: #2980b9;
}

.add-bank-form, .withdraw-form {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.add-bank-form input, .withdraw-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-bank-form button, .withdraw-form button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.order-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.order-buttons button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}
/* Estilo para los formularios emergentes */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* Fondo más opaco */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative;
}
/* Estilo para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

/* Estilos para los formularios */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    text-align: left;
}

form input[type="text"], form input[type="date"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

form input[type="submit"]:hover {
    background-color: #27ae60;
}

form button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
/* Estilo para los botones de cancelar en los modales */
.cancel-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.cancel-button:hover {
    background-color: #c0392b;
}

form button:hover {
    background-color: #c0392b;
}
.accept-button {
    background-color: #2ecc71;
    color: #fff;
}

.reject-button {
    background-color: #3498db;
    color: #fff;
}

.complete-button {
    background-color: #3498db;
    color: #fff;
}

.order-message {
    margin-top: 15px;
}

.hidden {
    display: none;
}




.add-sale-form, .edit-sale-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}
.add-sale-form, .edit-sale-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
.add-sale-form form, .edit-sale-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-sale-form label, .edit-sale-form label {
    margin-bottom: 10px;
}
/* Estilos para los formularios en los modales */
.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin: 10px 0 5px;
    text-align: left;
    font-weight: bold;
}

.modal-content input[type="text"], .modal-content input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal-content input[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.modal-content input[type="submit"]:hover {
    background-color: #27ae60;
}
.add-sale-form input, .edit-sale-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-sale-form input[type="submit"], .edit-sale-form input[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-sale-form input[type="submit"]:hover, .edit-sale-form input[type="submit"]:hover {
    background-color: #28a745;
}

.add-sale-form button, .edit-sale-form button {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-sale-form button:hover, .edit-sale-form button:hover {
    background-color: #b3b3b3;
}
.sales-container .sales-title {
    background-color: #2ecc71; /* Color de fondo del título de ventas */
    color: #fff; /* Color del texto en el título de ventas */
    padding: 10px;
    border-radius: 10px; /* Bordes redondeados */
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el título y la tabla */
}

.add-sale1-form, .edit-sale-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}
.add-sale1-form, .edit-sale-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1;
}

.add-sale1-form form, .edit-sale-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-sale1-form label, .edit-sale-form label {
    margin-bottom: 10px;
}

.add-sale1-form input, .edit-sale-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-sale1-form input[type="submit"], .edit-sale-form input[type="submit"] {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-sale1-form input[type="submit"]:hover, .edit-sale-form input[type="submit"]:hover {
    background-color: #28a745;
}

.add-sale1-form button, .edit-sale-form button {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-sale1-form button:hover, .edit-sale-form button:hover {
    background-color: #b3b3b3;
}
.sales-container .sales-title {
    background-color: #2ecc71; /* Color de fondo del título de ventas */
    color: #fff; /* Color del texto en el título de ventas */
    padding: 10px;
    border-radius: 10px; /* Bordes redondeados */
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el título y la tabla */
}


/* Estilo para la tabla de historial */
.sales-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.sales-table th, .sales-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.sales-table th {
    background-color: #3498db;
    color: #fff;
}

/* Filtros de búsqueda */
#search, #searchColumn {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.sales-table .table-header th {
    background-color: #2ecc71; /* Color de fondo del encabezado de la tabla */
    color: #fff; /* Color del texto en el encabezado de la tabla */
}
/*---------------------------------------------------------------------------------------------*/
.admin-current-page {
    background-color: #00B14F;
  }
  
  .admin-menu {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .admin-menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
  }
  
  .admin-menu a:hover {
    background-color: #555;
  }
  
  .admin-welcome {
    text-align: center;
    margin: 20px;
  }
  /* voz alta */
  
label {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

#enableVozAlta {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
}

#enableVozAlta:checked {
  background-color: #2196F3;
  border: 1px solid #2196F3;
}