<header>
    <app-header-restaurante></app-header-restaurante>
</header>
<div class="admin-menu">
    <a routerLink="/inicio-restaurante" >Inicio</a>
    <a routerLink="/rest-productos">Productos</a>
    <a routerLink="/rest-pedidos">Pedidos</a>
    <a routerLink="/ventas-restaurante">Ventas</a>
    <a href="rest-inventario.html">Inventario</a>
    <a routerLink="/resenas-restaurante">Reseñas</a>
    <a routerLink="/rest-pagos"class="admin-current-page">Pagos</a>
</div>

<div class="orders-container">
    <div class="orders-title">
        <span>💵 Pagos</span>
    </div>
    <div class="elemento-referente">
        <p>Visualiza tus ganancias acumuladas, las cuales puedes retirar en el momento que lo desees. También podrás visualizar tu historial de retiros.</p>
    </div>
    <!-- Contenedor de pedidos -->
    <div class="pedidos-container">
        <div class="order-item">
            <strong>Ganancias:</strong>
            <h2>MXN $800.00</h2>
            <button class="add-bank-button" (click)="toggleAddBankForm()">Agregar cuenta bancaria</button>
            <button class="withdraw-button" (click)="toggleWithdrawForm()">Retirar</button>
        </div>
        <div class="order-item">
            <h2>Historial de Retiros:</h2>
            <label for="search">Buscar:</label>
            <input type="text" id="search" (input)="filterTable($event)" placeholder="Ingrese término de búsqueda">
            <label for="searchColumn">Buscar en columna:</label>
            <select id="searchColumn" (change)="filterTable($event)">
                <option value="0">Cantidad</option>
                <option value="1">Cuenta de retiro</option>
                <option value="2">Fecha de retiro</option>
            </select>
            <table class="sales-table" id="salesTable">
                <thead>
                    <tr class="table-header">
                        <th>Cantidad</th>
                        <th>Cuenta de retiro</th>
                        <th>Fecha de retiro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of filteredRows">
                        <td>{{ row.amount }}</td>
                        <td>{{ row.account }}</td>
                        <td>{{ row.date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Agregar Cuenta Bancaria -->
<div class="modal" *ngIf="showAddBankForm">
    <div class="modal-content">
        <span class="close" (click)="cancelAddBank()">&times;</span>
        <form (submit)="addBankAccount($event)">
            <label for="cardNumber">Número de tarjeta:</label>
            <input type="text" id="cardNumber" name="cardNumber" required><br>

            <label for="expiryDate">Fecha de expiración:</label>
            <input type="text" id="expiryDate" name="expiryDate" placeholder="dd/mm/aaaa" required><br>

            <label for="cardHolder">Nombre del titular de la tarjeta:</label>
            <input type="text" id="cardHolder" name="cardHolder" required><br>

            <input type="submit" value="Agregar">
        </form>
        <button type="button" class="cancel-button" (click)="cancelAddBank()">Cancelar</button>
    </div>
</div>

<!-- Modal Retirar -->
<div class="modal" *ngIf="showWithdrawForm">
    <div class="modal-content">
        <span class="close" (click)="cancelWithdraw()">&times;</span>
        <form (submit)="withdrawAmount($event)">
            <label for="withdrawAmount">Ingrese la cantidad que desea retirar:</label>
            <input type="text" id="withdrawAmount" name="withdrawAmount" required><br>
            <input type="submit" value="Retirar">
        </form>
        <button type="button" class="cancel-button" (click)="cancelWithdraw()">Cancelar</button>
    </div>
</div>


<footer>
    <app-footer-restaurante></app-footer-restaurante>
</footer>