<header>
    <div class="header-top">
        <div class="logo">
            <img src="assets/logo.png" alt="Inicio">
        </div>
        <div class="title-container">
            <span class="title">QuickDineHub</span>
        </div>
    </div>
    <nav class="header-bottom">
        <ul>
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/login-clientes">Cliente</a></li>
            <li><a routerLink="/login-repartidores">Repartidor</a></li>
            <li><a routerLink="/login-restaurante">Restaurante</a></li>
        </ul>
    </nav>
</header>
