/* estilos.css */
.admin-menu {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    margin: 20px 0;
}

.admin-menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.admin-menu a:hover {
    background-color: #555;
}

.admin-welcome {
    text-align: center;
    margin: 20px;
}

.admin-current-page {
    background-color: #00B14F;
}

/*-------------------------------------------------------------------------------------*/

/* editar-perfil.component.css */
.editar-perfil-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
}

.editar-perfil-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #ff8c00;
    outline: none;
}

.next-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #e07b00;
}

.next-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.color-alerta.color-rojo {
    color: red;
}