
<app-header></app-header>
<div class="contenido">
    <h1>Acerca de Nosotros</h1>
    <div class="texto">
        <!-- El texto proporcionado -->
        El objetivo general del proyecto es brindar un servicio de entrega de comida local eficiente y atento a través del sistema, permitiendo a los clientes realizar envíos y pedidos de manera fácil a través de una plataforma web. Nuestra misión es satisfacer las necesidades de los clientes, proporcionando entregas seguras y rápidas de una variedad de productos de diferentes restaurantes afiliados, con descuentos exclusivos disponibles en la plataforma. Buscamos generar utilidades que respalden el proyecto y su mejora continua, con el fin de ofrecer un servicio de alta calidad a nuestros usuarios y fortalecer nuestras alianzas con los establecimientos locales.

        <h2>Objetivos Específicos:</h2>
        <ul>
            <li>Objetivos a Corto Plazo:</li>
            <ul>
                <li>Asegurar la satisfacción del cliente mediante la entrega de un servicio excepcional, de manera que estén dispuestos a utilizar nuestros servicios nuevamente y recomendarlos a otros clientes potenciales.</li>
                <li>Mejorar la calidad del servicio al cliente a través de una atención personalizada y entregas confiables.</li>
                <li>Garantizar la seguridad y atención adecuada en cada entrega realizada.</li>
                <li>Capacitar al personal involucrado en la distribución para mejorar la eficiencia y eficacia de las entregas.</li>
                <li>Establecer una presencia destacada en la zona geográfica en la que operamos.</li>
                <li>Desarrollar un plan estratégico para identificar posibles colaboraciones con empresas y establecimientos locales, ofreciendo servicios mejorados y beneficios exclusivos a los clientes.</li>
            </ul>
            <li>Objetivos a Mediano Plazo</li>
            <ul>
                <li>Consolidar la empresa en el mercado local y fortalecer su posición en la industria.</li>
                <li>Mantener un equipo de empleados altamente capacitados y con un desempeño óptimo en el servicio de entregas.</li>
                <li>Optimizar la comodidad y la experiencia del cliente al utilizar nuestros servicios de entrega.</li>
                <li>Establecer colaboraciones sólidas con empresas y establecimientos locales para mejorar la oferta de servicios y promociones exclusivas.</li>
            </ul>
            <li>Objetivos a Largo Plazo:</li>
            <ul>
                <li>Generar utilidades sostenibles que permitan la expansión y mejora continua de la empresa.</li>
                <li>Aumentar el reconocimiento de la marca y obtener reseñas positivas sobre la calidad de nuestros servicios.</li>
                <li>Ampliar la presencia de la empresa a nivel nacional, abriendo sucursales en diferentes regiones del país.</li>
                <li>Establecer alianzas estratégicas con empresas más grandes y reconocidas para ofrecer servicios de entrega de mayor alcance y valor añadido.</li>
            </ul>
        </ul>

        <h2>Justificación:</h2>
        <ul>
            <li>Demanda y Rentabilidad:</li>
            <p>En primer lugar, el proyecto se fundamenta en la creciente demanda de servicios de entrega local eficiente. La tendencia de los consumidores a buscar opciones más rápidas y convenientes para recibir productos y pedidos es una señal clara de que existe una oportunidad de negocio rentable en este mercado.</p>
            <li>Satisfacción de las Necesidades del Cliente:</li>
            <p>Mandaditos Huastecos busca satisfacer directamente las necesidades del cliente, ofreciendo entregas seguras y rápidas de una variedad de productos. Esto incluye la conveniencia de pedir alimentos de forma personalizada, lo que aumenta la satisfacción del cliente.</p>
            <li>Tecnología y Adaptación al Entorno Local:</li>
            <p>La falta de adaptación tecnológica en la región donde se llevará a cabo el proyecto es una oportunidad para introducir una plataforma web moderna que permita optimizar el proceso de pedidos de comida de la comunidad local (Nuestro proyecto no mejora la calidad de vida). Esto demuestra una comprensión profunda del entorno y una respuesta efectiva a las necesidades locales.</p>
            <li>Potencial de Crecimiento y Calidad del Servicio:</li>
            <p>A largo plazo, el proyecto tiene un claro potencial de crecimiento y la capacidad de convertirse en un servicio reconocido y de alta calidad, expandiéndose a la entrega ya no solo de comida sino también abarcando la entrega de otro tipo de productos como medicinas o productos básicos de la cocina. La búsqueda constante de mejoras y la expansión geográfica indican una visión a largo plazo para el proyecto.</p>
        </ul>
    </div>
</div>
<app-footer></app-footer>