<!-- faq.component.html -->
<app-header></app-header>
<div class="faq-container">
    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Identificación de la Empresa y Datos de Contacto:</div>
        <div class="faq-content">
            <p>El sistema integral de entregas y promoción de restaurantes es una plataforma de comercio electrónico operada por Quick Dine Hub, Nos encontramos ubicados en Huejutla de Reyes Hidalgo, Para comunicarte con nosotros, puedes utilizar el número de teléfono 7713311521 o escribirnos a nuestra dirección de correo electrónico principal: milahe102&#64;gmail.com; Estamos comprometidos a brindar un servicio de calidad y nos esforzamos por estar accesibles para cualquier consulta o comentario que puedas tener.</p>   
        </div>
    </div>

    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Descripción del Servicio:</div>
        <div class="faq-content">
            <p>QuickDineHub se posiciona como la solución integral para satisfacer las necesidades gastronómicas de nuestros usuarios. Nuestra plataforma de comercio electrónico redefine la experiencia culinaria al conectar a amantes de la buena comida con una amplia variedad de restaurantes locales. Desde la comodidad de sus hogares, los usuarios pueden explorar una extensa gama de opciones culinarias, realizar pedidos personalizados y disfrutar de entregas a domicilio eficientes.
                En QuickDineHub, no solo ofrecemos un servicio de entrega de alimentos; proporcionamos una experiencia gastronómica completa. Facilitamos la búsqueda y exploración de restaurantes según preferencias individuales, permitiendo a los usuarios descubrir nuevos sabores y platos excepcionales. Desde la elección de un restaurante hasta la entrega puntual, QuickDineHub se compromete a simplificar y mejorar cada paso del proceso.</p>   
        </div>
    </div>
    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Asignación de Riesgos, Responsabilidad y Descargos de Responsabilidad:</div>
        <div class="faq-content">
            <p>Calidad de los Alimentos:
                    QuickDineHub actúa como intermediario entre los usuarios y los restaurantes afiliados. No asumimos responsabilidad por la calidad, seguridad o frescura de los alimentos proporcionados por los restaurantes. La responsabilidad recae en los establecimientos que preparan y entregan los productos.
                    </p>
                <p>Disponibilidad de Productos: 
                    La disponibilidad de productos está sujeta a la oferta de los restaurantes. QuickDineHub no garantiza la disponibilidad continua de productos específicos.
                    </p>
                <p>
                    Cambios en el Menú: 
Los restaurantes afiliados pueden realizar cambios en sus menús sin previo aviso. QuickDineHub no asume responsabilidad por la falta de disponibilidad de un artículo específico.
                </p>
                <p>
                    Alergias e Intolerancias: 
Es responsabilidad del usuario informar sobre alergias o intolerancias alimentarias al realizar un pedido. QuickDineHub no se hace responsable de reacciones adversas causadas por la ingesta de alimentos alérgenos.
                </p>
                <p>
                    Entrega de Pedidos:
La plataforma coordina la entrega de pedidos a través de repartidores independientes. No somos responsables por retrasos, pérdidas o daños durante el proceso de entrega. Los repartidores son contratistas independientes y asumen la responsabilidad de las entregas.
                </p>
                <p>
                    Información del Restaurante:
Si bien nos esforzamos por proporcionar información precisa sobre los restaurantes afiliados, incluidos menús y precios, no garantizamos la precisión en todo momento. Los restaurantes son responsables de mantener actualizada su información en la plataforma.
                </p>
                <p>
                    Problemas Técnicos:
QuickDineHub se compromete a mantener su plataforma operativa de manera continua. Sin embargo, no asumimos responsabilidad por pérdidas o inconvenientes causados por interrupciones del servicio, errores técnicos o problemas de conectividad.
                </p>
                <p>
                    Uso Adecuado de la Plataforma:
Los usuarios son responsables de utilizar la plataforma de manera adecuada y segura. QuickDineHub no asume responsabilidad por el mal uso de la plataforma o violaciones de los términos y condiciones por parte de los usuarios.
                </p>
                <p>
                    Información del Usuario:
Los usuarios son responsables de proporcionar información precisa al registrarse en la plataforma. QuickDineHub no asume responsabilidad por información incorrecta proporcionada por los usuarios, como direcciones de entrega incorrectas.
                </p>
                <p>
             Seguridad de la Cuenta:
Los usuarios son responsables de mantener la seguridad de sus cuentas, incluyendo contraseñas y credenciales de acceso. QuickDineHub no asume responsabilidad por accesos no autorizados a las cuentas de los usuarios.
                </p>  
        </div>
    </div>

    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Garantía</div>
        <div class="faq-content">
            <p>
                .- QuickDineHub se compromete a garantizar una experiencia positiva para nuestros usuarios. En este sentido, ofrecemos las siguientes garantías:
            </p>
            <p>
                Calidad del Servicio: <br>
QuickDineHub se esfuerza por proporcionar un servicio eficiente y confiable para la realización de pedidos y entregas. Garantizamos que los usuarios recibirán productos frescos y de calidad de los restaurantes afiliados. <br><br>
Protección de Datos: <br>
La seguridad de la información del usuario es una prioridad. Garantizamos la protección de los datos personales y financieros, implementando medidas de seguridad robustas y cumpliendo con las regulaciones de privacidad aplicables. <br><br>
Atención al Cliente: <br>
Nuestro equipo de atención al cliente está disponible para resolver consultas y problemas de manera oportuna. Garantizamos un servicio de atención al cliente receptivo y eficaz. <br><br>
Variedad y Calidad del Menú: <br>
QuickDineHub garantiza a los usuarios una amplia variedad de opciones de menú entre diferentes restaurantes locales. Nos esforzamos por mantener altos estándares de calidad en la selección de restaurantes afiliados, asegurando que cada opción cumpla con las expectativas de nuestros usuarios. <br><br>

.- A pesar de nuestros esfuerzos por proporcionar un servicio de alta calidad, es importante reconocer ciertas limitaciones y exenciones de responsabilidad: <br><br>
Variabilidad en la Calidad: <br>
No podemos garantizar la calidad consistente de los productos ofrecidos por los restaurantes afiliados, ya que esta está fuera de nuestro control directo. Si un usuario experimenta problemas con la calidad de un producto, alentamos la presentación de reclamaciones para su investigación. <br><br>
Entrega Oportuna: <br>
Nos comprometemos a brindar un servicio de entrega eficiente y puntual. QuickDineHub se esfuerza por cumplir con los plazos de entrega estimados, garantizando que los usuarios reciban sus pedidos frescos y en el tiempo esperado. <br><br>
.- A pesar de nuestros esfuerzos por proporcionar un servicio de alta calidad, es importante reconocer ciertas limitaciones y exenciones de responsabilidad: <br><br>
Variabilidad en la Calidad: <br>
No podemos garantizar la calidad consistente de los productos ofrecidos por los restaurantes afiliados, ya que esta está fuera de nuestro control directo. Si un usuario experimenta problemas con la calidad de un producto, alentamos la presentación de reclamaciones para su investigación. <br><br>

            </p>        </div>
    </div>

    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Derecho de Desistimiento:</div>
        <div class="faq-content">
            <p>
                Los usuarios de QuickDineHub tienen el derecho de desistir de un pedido antes de que el restaurante inicie el proceso de preparación y entrega. Para ejercer este derecho, el usuario debe realizar la cancelación a través de la plataforma antes de que la notificación de preparación del pedido sea recibida.
            </p>
            <p>
                En casos de desistimiento, los usuarios recibirán un reembolso completo del monto pagado. Sin embargo, una vez que el restaurante ha iniciado la preparación del pedido, el usuario pierde el derecho de desistimiento.
            </p>
            <p>
                Es importante destacar que QuickDineHub no puede garantizar la aceptación de solicitudes de desistimiento después de que el proceso de preparación ha comenzado. Los usuarios deben realizar la cancelación lo más pronto posible para evitar inconvenientes y facilitar el proceso de reembolso.
            </p>

            <p>
                Este derecho de desistimiento no se aplica a productos perecederos o aquellos que están sujetos a deterioro rápido. Además, QuickDineHub se reserva el derecho de modificar las condiciones de desistimiento en circunstancias excepcionales o según lo establecido por la legislación local aplicable.
            </p>        </div>
    </div>

    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Información de Seguridad:</div>
        <div class="faq-content">
            <p>
                La seguridad de nuestros usuarios es una prioridad fundamental en QuickDineHub. Para garantizar una experiencia segura y confiable, hemos implementado las siguientes medidas y proporcionamos información esencial:
            </p>
            <p>.- Cifrado de Datos: QuickDineHub utiliza protocolos de cifrado avanzados para proteger la información del usuario durante la transmisión. Todos los datos, incluidos detalles de pago y datos personales, están cifrados para evitar accesos no autorizados.</p>
            <p>.- Cifrado de Datos: QuickDineHub utiliza protocolos de cifrado avanzados para proteger la información del usuario durante la transmisión. Todos los datos, incluidos detalles de pago y datos personales, están cifrados para evitar accesos no autorizados.</p>
            <p>.- Seguridad en la Manipulación de Alimentos: QuickDineHub trabaja en estrecha colaboración con restaurantes afiliados para garantizar prácticas seguras en la manipulación y entrega de alimentos. Esto incluye pautas específicas sobre empaque, transporte y manipulación higiénica.</p>
            <p>.- Prevención de Phishing: QuickDineHub nunca solicitará información confidencial, como contraseñas o detalles de pago, a través de correos electrónicos no solicitados. Los usuarios deben ser cautelosos y evitar responder a solicitudes sospechosas.

            </p>
            <p>.- Actualizaciones de Seguridad: Nuestra plataforma se mantiene actualizada con las últimas medidas de seguridad. Cualquier vulnerabilidad identificada se aborda de inmediato, y las actualizaciones se implementan para proteger contra amenazas potenciales.</p>
        <p>.- Concientización del Usuario: Brindamos recursos educativos a los usuarios sobre prácticas seguras en línea. Esto incluye consejos sobre contraseñas seguras, cómo identificar correos electrónicos fraudulentos y medidas de seguridad adicionales.</p>
        <p>.- Monitoreo Continuo: QuickDineHub realiza un monitoreo constante de la actividad en la plataforma para identificar y abordar cualquier actividad sospechosa. Los patrones de comportamiento inusual activan alertas automáticas para una acción inmediata.</p>
        <p>.- Responsabilidad del Usuario: Aunque implementamos medidas sólidas de seguridad, instamos a los usuarios a ser proactivos en la protección de sus cuentas. Esto incluye el uso de contraseñas únicas, la revisión regular de actividades y la notificación inmediata de cualquier problema de seguridad.</p>
            <p>.- Informes de Problemas de Seguridad: QuickDineHub tiene un canal dedicado para informes de problemas de seguridad. Si un usuario identifica posibles vulnerabilidades o problemas de seguridad, les alentamos a informar de inmediato para una acción rápida y eficaz.</p>
            <p>Estas medidas combinadas reflejan nuestro compromiso con la seguridad integral en QuickDineHub. Trabajamos incansablemente para proporcionar a nuestros usuarios un entorno en línea seguro y protegido.</p>        </div>
    </div>
    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Condiciones de Entrega del Producto/Servicio::</div>
        <div class="faq-content">
            <p>
                Dirección de Entrega: <br>
Los usuarios son responsables de proporcionar una dirección de entrega precisa al realizar un pedido. QuickDineHub no se hace responsable de entregas incorrectas debido a información inexacta proporcionada por el usuario.
Problemas con la Entrega:<br>
QuickDineHub se compromete a resolver problemas relacionados con la entrega de manera oportuna y justa. Sin embargo, la plataforma no asume responsabilidad por pérdidas o daños resultantes de problemas fuera de su control, como direcciones inexactas, condiciones climáticas extremas u otras circunstancias imprevistas.


Retrasos en la Entrega:<br>
En casos de retrasos en la entrega debido a circunstancias imprevistas, QuickDineHub informará a los usuarios afectados sobre la situación. Se harán esfuerzos para minimizar los inconvenientes y proporcionar actualizaciones regulares sobre el estado de la entrega.<br><br>
Entregas Parciales:<br>
QuickDineHub se reserva el derecho de realizar entregas parciales en situaciones donde no todos los productos de un pedido pueden entregarse al mismo tiempo. Se notificará a los usuarios sobre entregas parciales, y los costos asociados se ajustarán en consecuencia.<br><br>
Validación de la Entrega:<br>
Se requerirá la firma o aceptación del usuario al recibir un pedido. Esto actúa como confirmación de la entrega completa y en buen estado de los productos solicitados. En ausencia del usuario, se aceptará la firma de cualquier persona presente en la dirección de entrega especificada.<br><br>
Entregas a Áreas Restringidas:<br>
QuickDineHub se reserva el derecho de restringir entregas en áreas consideradas peligrosas, inseguras o inaccesibles. Los usuarios serán notificados si su área está sujeta a restricciones de entrega.<br><br>
Entregas a Terceros:<br>
Los usuarios pueden autorizar a terceros para recibir entregas en su nombre, siempre y cuando se proporcione una autorización por escrito y el tercero pueda demostrar su identidad.<br><br>

            </p>        </div>
    </div>
    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Derechos de Uso:</div>
        <div class="faq-content">
            <p>
                1. Acceso y Exploración: QuickDineHub concede a los usuarios el derecho no exclusivo de acceder y explorar la plataforma para el uso personal y no comercial. Los usuarios pueden visualizar información, realizar pedidos y utilizar funciones interactivas.<br><br>

2. Restricciones: Queda expresamente prohibida cualquier modificación, reproducción, distribución no autorizada, transmisión o cualquier otro uso no aprobado del contenido de la plataforma. Los usuarios no pueden utilizar técnicas de minería de datos, robots u otras herramientas automáticas para recopilar datos sin el consentimiento expreso de QuickDineHub.<br><br>

3. Propiedad del Contenido: Todo el contenido de la plataforma, incluidos textos, gráficos, logotipos, imágenes y software, está protegido por derechos de autor y otros derechos de propiedad intelectual. Los usuarios reconocen y aceptan que todos los derechos de propiedad intelectual son propiedad exclusiva de QuickDineHub.<br><br>

4. Uso de la Información del Usuario: Al utilizar la plataforma, los usuarios otorgan a QuickDineHub el derecho y la licencia no exclusivos, transferibles, sublicenciables, libres de regalías y a nivel mundial para utilizar, reproducir, modificar, adaptar, publicar, traducir, distribuir, ejecutar y mostrar la información del usuario en relación con los servicios ofrecidos por QuickDineHub.<br><br>

5. Suspensión de Acceso: QuickDineHub se reserva el derecho de suspender o rescindir el acceso de cualquier usuario en cualquier momento y por cualquier motivo, incluido el incumplimiento de los términos y condiciones. En caso de suspensión, los usuarios no podrán acceder a la plataforma ni utilizar sus servicios.<br><br>

6. Uso Comercial No Autorizado: El uso comercial no autorizado de la plataforma, sus servicios o cualquier contenido relacionado puede dar lugar a acciones legales por parte de QuickDineHub. Los usuarios no pueden revender ni explotar comercialmente los servicios de QuickDineHub sin el consentimiento por escrito de la empresa.<br><br>

7. Suspensión de Cuentas: QuickDineHub se reserva el derecho de suspender o cerrar cuentas de usuario que infrinjan repetidamente los derechos de propiedad intelectual de otros o que violen de manera significativa los términos y condiciones.<br><br>

8. Uso Responsable: Los usuarios deben utilizar la plataforma de manera responsable y ética. Cualquier uso indebido, abuso o violación de los términos puede resultar en la suspensión o cancelación de la cuenta del usuario.<br><br>

9. Respeto de Derechos de Terceros: Los usuarios deben respetar los derechos de privacidad, propiedad intelectual y otros derechos legales de terceros al utilizar la plataforma. QuickDineHub no será responsable de las acciones de los usuarios que violen los derechos de terceros.<br><br>

10. Integridad de la Plataforma: Los usuarios no deben realizar intentos no autorizados de eludir o manipular la seguridad de la plataforma. Cualquier intento de interferir con el funcionamiento normal de la plataforma puede resultar en medidas legales.<br><br>

11. Actualizaciones y Cambios: QuickDineHub se reserva el derecho de realizar cambios en la plataforma, incluidas actualizaciones, modificaciones y la introducción de nuevas funciones. Los usuarios aceptan que el uso continuado de la plataforma después de tales cambios constituye su aceptación de los términos modificados.<br><br>

12. Suspensión de Acceso: QuickDineHub se reserva el derecho de suspender o cerrar cuentas de usuario que infrinjan repetidamente los derechos de propiedad intelectual de otros o que violen de manera significativa los términos y condiciones.<br><br>

Nota: Estos derechos de uso están sujetos a los términos y condiciones completos y pueden actualizarse periódicamente. Es responsabilidad del usuario revisarlos regularmente para mantenerse informado sobre cualquier modificación.<br><br>

            </p>        </div>
    </div>

    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Condiciones de Uso o de Compra:</div>
        <div class="faq-content">
            <p>
            Edad Mínima: <br>
            La utilización de los servicios de QuickDineHub está limitada a personas mayores de 18 años. Los usuarios garantizan que cumplen con este requisito al acceder y utilizar la plataforma.<br><br>
            Restricciones Geográficas:<br>
            QuickDineHub opera en áreas geográficas específicas. Los usuarios deben verificar la disponibilidad del servicio en su ubicación antes de realizar pedidos. La plataforma no se hace responsable de la imposibilidad de prestar servicios en áreas no cubiertas.<br><br>
            Cuentas de Usuario:<br>
            Los usuarios son responsables de mantener la confidencialidad de sus cuentas y contraseñas asociadas a QuickDineHub. Cualquier actividad realizada bajo la cuenta del usuario se considerará como realizada por el propio usuario.<br><br>
            Uso Adecuado:<br>
            Los usuarios se comprometen a utilizar la plataforma de manera ética y legal. Se prohíbe el uso de la plataforma para actividades ilegales, difamatorias, fraudulentas o que violen los derechos de propiedad intelectual de terceros.<br><br>
            
            
            
            Veracidad de la Información:<br>
            Los usuarios garantizan que la información proporcionada durante el registro y al realizar pedidos es precisa y completa. QuickDineHub se reserva el derecho de suspender cuentas que contengan información falsa o engañosa.<br><br>
            Prohibición de Revender:<br>
            Los productos y servicios adquiridos a través de QuickDineHub están destinados para uso personal de los usuarios. Queda estrictamente prohibida la revenda de productos y servicios adquiridos a través de la plataforma sin autorización expresa.<br><br>
            Suspensión de Acceso:<br>
            QuickDineHub se reserva el derecho de suspender o cancelar el acceso a la plataforma de aquellos usuarios que violen las Condiciones de Uso o de Compra. Esta suspensión puede ser temporal o permanente, según la gravedad de la violación.<br><br>
            Colaboración en la Seguridad:<br>
            Los usuarios se comprometen a colaborar en la seguridad de la plataforma informando cualquier actividad sospechosa o violación de seguridad a QuickDineHub. Esto incluye la notificación de acceso no autorizado a sus cuentas.<br><br>
            Responsabilidad por Uso Indebido:<br>
            Los usuarios son responsables de cualquier uso indebido de sus cuentas, incluso en casos de accesos no autorizados. QuickDineHub no asume responsabilidad por pérdidas o daños resultantes de un uso indebido de las cuentas.<br><br>
            Cumplimiento de Normativas:<br>
            Al utilizar QuickDineHub, los usuarios se comprometen a cumplir con todas las leyes y regulaciones aplicables en su jurisdicción. Cualquier violación de las normativas locales puede resultar en la suspensión de la cuenta.<br><br>
            Modificaciones de las Condiciones:<br>
            QuickDineHub se reserva el derecho de realizar modificaciones en las Condiciones de Uso o de Compra en cualquier momento. Los usuarios serán notificados de tales cambios a través de la plataforma o por correo electrónico.<br><br>
            Aceptación de Condiciones:<br>
            El uso continuo de QuickDineHub después de la notificación de cambios en las Condiciones de Uso o de Compra constituye la aceptación de dichos cambios por parte de los usuarios.<br><br>
            Requisitos Técnicos:<br>
            Los usuarios son responsables de contar con los dispositivos y conexiones a internet necesarios para acceder y utilizar QuickDineHub. QuickDineHub no se hace responsable de problemas técnicos no atribuibles a la plataforma.<br><br>
            Política de Cookies:<br>
            QuickDineHub utiliza cookies para mejorar la experiencia del usuario. Al aceptar las Condiciones de Uso, los usuarios consienten el uso de cookies de acuerdo con la Política de Cookies de QuickDineHub.<br><br>
            Respeto a la Propiedad Intelectual:<br>
            Los usuarios se comprometen a respetar los derechos de propiedad intelectual de QuickDineHub y terceros. Se prohíbe la reproducción, distribución o modificación no autorizada de contenidos protegidos por derechos de autor.<br><br>
            Comunicaciones Electrónicas:<br>
            Al utilizar QuickDineHub, los usuarios aceptan recibir comunicaciones electrónicas, como correos electrónicos, notificaciones y mensajes, relacionadas con su cuenta y el uso de la plataforma.<br><br>
            
                            </p>        </div>
    </div>

    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Política de Reembolsos, Cambios o Cese del Servicio:</div>
        <div class="faq-content">
            <p>
                .- Reembolsos: <br>

Solicitudes de Reembolso: Los usuarios pueden presentar solicitudes de reembolso dentro de las 24 horas posteriores a la entrega si están insatisfechos con la calidad de los productos entregados o si se producen errores en el pedido.<br>
Proceso de Reembolso: Las solicitudes de reembolso deben realizarse a través de la sección correspondiente en la plataforma, proporcionando detalles claros sobre la razón de la insatisfacción. QuickDineHub se compromete a revisar las solicitudes de manera oportuna y a emitir reembolsos según sea necesario.<br>
Criterios para Reembolsos: Los reembolsos se considerarán en casos de productos dañados, errores en el pedido, demoras significativas en la entrega o situaciones excepcionales que afecten negativamente la experiencia del usuario. Los reembolsos no se otorgarán por cambios de opinión o preferencias personales.<br><br>

.- Cese del Servicio:<br>
Suspensión Temporal: QuickDineHub se reserva el derecho de suspender temporalmente los servicios en situaciones excepcionales, como mantenimiento del sistema o eventos imprevistos que afecten la operatividad de la plataforma.<br>
Cese Permanente: En casos de violaciones graves de los términos y condiciones por parte de un usuario, QuickDineHub puede tomar la decisión de cesar permanentemente el acceso y el uso de la plataforma para ese usuario en particular.<br>
Notificación de Cese: Los usuarios serán notificados por correo electrónico o a través de la plataforma en caso de cese permanente, proporcionando detalles claros sobre las razones detrás de esta decisión.<br>
Derechos Reservados: QuickDineHub se reserva el derecho de cesar o modificar los servicios en cualquier momento, previa notificación a los usuarios afectados.<br><br>

.- Cambios en Términos y Condiciones:<br>
Notificación de Cambios: Los usuarios serán informados de cambios en los términos y condiciones a través de la plataforma y/o por correo electrónico. La aceptación de los nuevos términos será requerida para continuar utilizando los servicios de QuickDineHub.<br>
Vigencia de Cambios: Los cambios en los términos y condiciones entrarán en vigencia [número] días después de la notificación. Los usuarios tienen derecho a rechazar los nuevos términos, lo que resultará en la suspensión de sus cuentas.<br><br>

            </p>        </div>
    </div>   
    
    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Métodos de Pago:</div>
        <div class="faq-content">
            <p>
                Seguridad de las Transacciones:<br>
Todas las transacciones financieras realizadas a través de QuickDineHub son procesadas de manera segura mediante nuestro proveedor de servicios de pago. Utilizamos medidas de encriptación avanzadas para proteger la información financiera de nuestros usuarios.<br><br>
Opciones de Pago Disponibles:<br>
QuickDineHub acepta diversas opciones de pago para brindar flexibilidad a nuestros usuarios. Entre las opciones se incluyen tarjetas de crédito y débito emitidas por Visa, MasterCard y American Express, así como otros métodos de pago en línea.<br><br>

Cargos Adicionales y Transparencia:<br>
Es importante destacar que QuickDineHub se reserva el derecho de aplicar cargos adicionales por ciertos servicios o transacciones específicas. Dichos cargos se detallarán claramente durante el proceso de pago, brindando transparencia a nuestros usuarios.<br><br>
Gestión de Datos Financieros:<br>
La gestión de datos financieros está sujeta a estrictos estándares de seguridad. QuickDineHub no almacena información sensible, como detalles de tarjetas de crédito, después de que se completa la transacción. Garantizamos la confidencialidad y seguridad de los datos financieros de nuestros usuarios.<br><br>
Política de Devolución y Reembolso:<br>
En el caso de devoluciones o reembolsos, el monto correspondiente se acreditará al mismo método de pago utilizado en la transacción original. Nuestro equipo de soporte al cliente está disponible para ayudar en cualquier problema relacionado con transacciones y reembolsos.<br><br>
Protección contra Fraudes:<br>
QuickDineHub implementa medidas proactivas para prevenir y detectar actividades fraudulentas. En casos de transacciones sospechosas, nos reservamos el derecho de realizar verificaciones adicionales para garantizar la seguridad de la plataforma y de nuestros usuarios.<br><br>
Compatibilidad con Métodos Locales:<br>
Reconocemos la diversidad de métodos de pago en diferentes regiones. QuickDineHub se esfuerza por ser compatible con métodos locales populares, facilitando a nuestros usuarios la elección del método de pago más conveniente.<br><br>
Confirmación de Pago Exitoso:<br>
Después de completar una transacción, los usuarios recibirán una confirmación detallada del pago exitoso. Esta confirmación incluirá detalles sobre los productos o servicios adquiridos, así como el monto total y la fecha de la transacción.<br><br>
Métodos de Pago Futuros:<br>
Estamos constantemente evaluando y agregando nuevos métodos de pago para mejorar la experiencia del usuario. Mantenemos a nuestros usuarios informados sobre cualquier incorporación de métodos de pago a través de notificaciones en la plataforma.<br><br>
            </p>        </div>
    </div>
    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Canales Postventa:</div>
        <div class="faq-content">
            <p>
                Soporte al Cliente Personalizado:<br>
Nuestro equipo de soporte al cliente está disponible para atender tus consultas y resolver cualquier problema. Puedes comunicarte con nosotros a través del número de teléfono 7713311521 o enviándonos un correo electrónico a milahe102&#64;gmail.com; Estamos comprometidos a brindarte asistencia personalizada de manera oportuna.<br><br>
Resolución de Disputas Eficiente:<br>
En el caso de disputas o inconvenientes, nuestro objetivo es lograr una resolución justa y eficiente. Si tienes problemas con nuestros servicios, contáctanos y trabajaremos para encontrar una solución mutuamente satisfactoria. La resolución de disputas se llevará a cabo mediante mediación de acuerdo con las leyes locales y las políticas establecidas por Quick Dine Hub.<br><br>
Comentarios y Sugerencias Valorados:<br>
Valoramos tu opinión y estamos abiertos a recibir comentarios y sugerencias. Si tienes alguna idea para mejorar nuestros servicios o simplemente deseas compartir tu experiencia, contáctanos a través de nuestros métodos de contacto. Tu retroalimentación es fundamental para nuestro continuo crecimiento y mejora.<br><br>
Seguimiento Proactivo:<br>
Para garantizar tu satisfacción continua, realizaremos un seguimiento proactivo después de que hayas utilizado nuestros servicios. Nos pondremos en contacto para obtener comentarios adicionales y asegurarnos de que tus expectativas se cumplan de manera integral. Este enfoque nos permite identificar áreas de mejora y garantizar una experiencia positiva en el futuro.<br><br>
Recursos en Línea:<br>
Disponemos de recursos en línea, como preguntas frecuentes o guías, para proporcionarte información detallada sobre el uso de nuestra plataforma. Antes de contactar al soporte, te recomendamos explorar estos recursos, ya que podrían contener la respuesta que estás buscando.<br><br>
Comunicación Proactiva sobre Problemas del Servicio:<br>
En situaciones donde se detecten problemas o interrupciones en el servicio, nos comprometemos a informarte proactivamente a través de notificaciones en la aplicación y correos electrónicos. Esta transparencia forma parte de nuestro compromiso con la calidad y la confianza del usuario.<br><br>

            </p>        </div>
    </div>

    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Propiedad Intelectual:</div>
        <div class="faq-content">
            <p>
                •	Derechos de Autor: Todos los elementos visuales y textuales presentes en la plataforma sistema integral de entregas y promoción de restaurantes, incluyendo logotipos, gráficos, texto, imágenes y cualquier otro contenido, están protegidos por derechos de autor. Estos derechos son propiedad exclusiva de QuickDineHub y están respaldados por las leyes de propiedad intelectual correspondientes.<br><br>
•	Uso No Autorizado: Queda estrictamente prohibido copiar, reproducir, distribuir, transmitir o manipular de alguna manera cualquier contenido de sistema integral de entregas y promoción de restaurantes sin la autorización expresa por escrito de QuickDineHub Cualquier uso no autorizado constituirá una violación de los derechos de propiedad intelectual y podría dar lugar a acciones legales.<br><br>
•	Marcas Comerciales: Todas las marcas comerciales, nombres comerciales y logotipos asociados con sistema integral de entregas y promoción de restaurantes son propiedad exclusiva de QuickDineHub. Estas marcas no pueden ser utilizadas en conexión con productos o servicios que no sean de sistema integral de entregas y promoción de restaurantes de manera que pueda causar confusión entre los usuarios o de alguna manera que denigre o desacredite a QuickDineHub.<br><br>
•	Contenido de Terceros: QuickDineHub respeta los derechos de propiedad intelectual de terceros. Si consideras que tu propiedad intelectual ha sido utilizada de manera que podría dar lugar a una violación de derechos, por favor, contáctanos de inmediato para tomar medidas correctivas.<br><br>
•	Licencia de Uso Limitado: QuickDineHub otorga a los usuarios una licencia limitada, no exclusiva y no transferible para acceder y utilizar la plataforma de acuerdo con estos Términos y Condiciones. Esta licencia no constituye una transferencia de derechos de propiedad y está sujeta a restricciones y limitaciones.<br><br>
•	Protección Legal: QuickDineHub se reserva el derecho de tomar medidas legales apropiadas para proteger sus derechos de propiedad intelectual en caso de infracciones o uso no autorizado del contenido de la plataforma.<br><br>
•	Actualizaciones de Contenido: QuickDineHub se compromete a actualizar y mejorar constantemente su contenido, pero no garantiza la actualización inmediata ni la corrección de posibles errores. Sin embargo, se esforzará por abordar cualquier problema de propiedad intelectual tan pronto como sea posible después de recibir notificación.<br><br>

            </p>        </div>
    </div>
    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Marco Legal:</div>
        <div class="faq-content">
            <p>
                •	Estos Términos y Condiciones se rigen por las leyes de Mexico, donde QuickDineHub está legalmente constituida. Al utilizar los servicios de QuickDineHub, los usuarios aceptan someterse a la jurisdicción exclusiva de los tribunales competentes de Mexico. Cualquier disputa o reclamación derivada de o en conexión con estos términos será resuelta mediante arbitraje de conformidad con las reglas de la Entidad Arbitral, y el laudo arbitral será vinculante y ejecutable en cualquier tribunal competente.<br><br>

•	Además, QuickDineHub se compromete a operar de conformidad con las leyes y regulaciones aplicables en el ámbito del comercio electrónico, la protección de datos y la seguridad del consumidor. La empresa se reserva el derecho de realizar cambios en estos términos para cumplir con nuevas leyes y regulaciones o para mejorar la transparencia y protección de los usuarios.<br><br>

•	Este marco legal garantiza que QuickDineHub opere de manera ética y legal, brindando confianza a nuestros usuarios y fortaleciendo la integridad de nuestros servicios en el mercado.<br><br>

            </p>        </div>
    </div>
    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Condiciones Adicionales Aplicables:</div>
        <div class="faq-content">
            <p>
                •	Promociones y Ofertas Especiales: Al participar en promociones u ofertas especiales, los usuarios aceptan las condiciones específicas asociadas, las cuales pueden incluir fechas de validez, términos de elegibilidad y restricciones. <br><br>
•	Programa de Lealtad y Recompensas: Los usuarios que participen en el programa de lealtad y recompensas de QuickDineHub aceptan los términos y condiciones particulares, que pueden incluir la acumulación y redención de puntos, así como beneficios exclusivos.<br><br>
•	Colaboraciones con Terceros: En casos de colaboraciones o asociaciones con terceros, los términos adicionales proporcionados por dichos terceros serán de aplicación conjunta con estos Términos y Condiciones generales.<br><br>
•	Eventos Especiales: Para eventos especiales, como festivales gastronómicos o lanzamientos de productos exclusivos, se aplicarán condiciones particulares que los usuarios deben revisar y aceptar antes de participar.<br><br>
•	Suspensión Temporal de Servicios: QuickDineHub se reserva el derecho de suspender temporalmente servicios específicos durante mantenimientos programados o mejoras, sin asumir responsabilidad por cualquier inconveniente resultante.<br><br>
•	Modificaciones a las Condiciones: QuickDineHub notificará a los usuarios sobre cambios significativos en las condiciones adicionales aplicables, proporcionando una oportunidad para revisar y aceptar dichas modificaciones.<br><br>

            </p>        </div>
    </div>
    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Términos del Servicio:</div>
        <div class="faq-content">
            <p>
                El sistema integral de pedidos y promoción de restaurantes es una plataforma operada por QuickDineHub, registrada bajo las leyes correspondientes. Para contactarnos, puedes utilizar la información proporcionada en la sección de contacto de nuestra aplicación/web.<br><br>
                QuickDine Hub ofrece una plataforma en línea que permite a usuarios, restaurantes y repartidores participar en transacciones relacionadas con la entrega de alimentos y productos. El uso de QuickDine Hub está sujeto a ciertas restricciones y expectativas de comportamiento. Los usuarios deben comprometerse a utilizar la plataforma de manera ética y legal. QuickDine Hub implementa medidas de seguridad para proteger la información personal y financiera de los usuarios. Sin embargo, se espera que los usuarios también tomen precauciones para mantener la seguridad de sus cuentas. La creación y gestión de cuentas en QuickDine Hub están reguladas por ciertos términos. Los usuarios son responsables de mantener la confidencialidad de sus credenciales. La política de privacidad de QuickDine Hub describe cómo se recopila, utiliza y comparte la información del usuario. Los usuarios deben revisar y aceptar esta política para utilizar nuestros servicios.<br><br>
                Procedimientos de Reembolso: <br>
                QuickDine Hub acepta solicitudes de reembolso bajo ciertos criterios. Los usuarios deben seguir un procedimiento específico para solicitar un reembolso, que incluye proporcionar detalles de la transacción y la razón de la solicitud.<br><br>
                Plazos de Reembolso:<br>
                Los reembolsos se procesarán dentro de un período específico y se abordarán según la forma de pago original. Los plazos y condiciones varían según el tipo de transacción.<br><br>
                Excepciones:<br>
                La política de reembolso establece situaciones excepcionales en las que QuickDine Hub puede reconsiderar una solicitud de reembolso. Esto incluye errores de transacción, problemas técnicos y circunstancias excepcionales.<br><br>
                Proceso de Facturación:<br>
                Tarifas y Costos:<br>
                La plataforma puede aplicar tarifas y costos asociados con ciertos servicios. Los usuarios deben revisar y aceptar estas tarifas antes de completar una transacción.<br><br>
                Facturación Automática:<br>
                Para servicios recurrentes, QuickDine Hub puede implementar facturación automática. Los usuarios recibirán notificaciones antes de la facturación y pueden gestionar su suscripción en cualquier momento.<br><br>
                
                
                Detalles de la Factura:<br>
                Las facturas proporcionarán detalles claros sobre los productos o servicios adquiridos, las tarifas aplicadas y la información necesaria para la contabilidad.<br><br>
                Logística de Envíos:<br>
                Áreas de Cobertura:<br>
                QuickDine Hub especificará las áreas geográficas cubiertas por su servicio de entrega. Los usuarios deben asegurarse de que sus ubicaciones estén dentro de estas áreas antes de realizar un pedido.<br><br>
                Tiempos de Entrega:<br>
                La plataforma proporcionará estimaciones de tiempos de entrega. Estos tiempos pueden variar según la ubicación, la disponibilidad del producto y otros factores.<br><br>
                Condiciones Especiales de Envío:<br>
                Se establecerán condiciones especiales para ciertos tipos de envíos, como productos perecederos o sensibles a la temperatura.<br><br>
                Guía de Compra:<br>
                Proceso de Selección de Productos:<br>
                Los usuarios serán guiados a través del proceso de selección de productos, con detalles sobre cada producto y opciones disponibles.<br><br>
                Carrito de Compras:<br>
                QuickDine Hub proporcionará un carrito de compras donde los usuarios pueden revisar y modificar sus selecciones antes de completar la compra.<br><br>
                Métodos de Pago:<br>
                La guía de compra detallará los métodos de pago aceptados y proporcionará instrucciones claras sobre el proceso de pago.<br><br>
                Programa de Descuentos:<br>
                Ofertas Especiales:<br>
                QuickDine Hub ofrecerá programas de descuento y ofertas especiales a través de la plataforma. Estos programas estarán sujetos a términos específicos.<br><br>
                Códigos de Descuento:<br>
                Los usuarios podrán aplicar códigos de descuento durante el proceso de pago. Los términos y condiciones de los códigos de descuento serán claros y específicos.<br><br>
                
            </p>        </div>
    </div>
    <div class="faq-section" (click)="toggleFaqContent($event)">
        <div class="faq-title"> 
            <i class="fa fa-arrow-circle-down"></i>Análisis de Cumplimiento de Requisitos:</div>
        <div class="faq-content">
            <p>
                Para garantizar la transparencia y la conformidad con las expectativas y regulaciones, QuickDineHub ha llevado a cabo un exhaustivo análisis de cumplimiento de requisitos en sus Términos y Condiciones. Este análisis abarca tanto los Requisitos Funcionales (RF) como los Requisitos No Funcionales (RNF), proporcionando una visión integral de la operación y responsabilidades de la plataforma.
            </p>
            <p>
                .- Requisitos Funcionales (RF): <br>
                •	Registro de Usuario: Los términos especifican claramente el proceso de registro de usuarios, estableciendo los datos necesarios para crear una cuenta en la plataforma.<br>
                •	Gestión de Pedidos: Se detallan los pasos para la gestión de pedidos, desde la realización hasta la entrega, asegurando una comprensión clara de la cadena de suministro y las responsabilidades de todas las partes involucradas.<br>
                •	Seguridad en Métodos de Pago: Se garantiza la seguridad en los métodos de pago, cumpliendo con los estándares y procesos establecidos para proteger la información financiera del usuario.<br>
                •	Derecho de Desistimiento: Se establece el derecho de los usuarios a cancelar un pedido antes de su procesamiento, cumpliendo con las regulaciones de derechos del consumidor.<br>
                •	Política de Reembolsos: La política de reembolsos está claramente definida, proporcionando un marco para las solicitudes de reembolso y las condiciones que deben cumplirse.<br><br>
                
.- Requisitos No Funcionales (RNF):<br>
•	Tiempo de Respuesta: QuickDineHub se compromete a mantener tiempos de respuesta rápidos para garantizar una experiencia de usuario ágil y eficiente.<br>
•	Seguridad de la Plataforma: La plataforma ha implementado medidas de seguridad robustas para proteger contra amenazas cibernéticas, cumpliendo con el requisito de seguridad de la plataforma.<br>

•	Disponibilidad Continua: Se establece la disponibilidad continua de la plataforma las 24 horas del día, los 7 días de la semana, cumpliendo con el requisito de disponibilidad.<br>
•	Compatibilidad Móvil: QuickDineHub garantiza la compatibilidad con dispositivos móviles, asegurando una experiencia óptima para los usuarios en smartphones y tabletas.<br>
•	Protección de Datos: La plataforma asegura la protección de datos personales, cumpliendo con las regulaciones de privacidad y seguridad de la información.<br>

•	Este análisis de cumplimiento proporciona una base sólida para la operación transparente y eficiente de QuickDineHub, asegurando la satisfacción del usuario y el cumplimiento de estándares y regulaciones pertinentes.
ración transparente y eficiente de QuickDineHub, asegurando la satisfacción del usuario y el cumplimiento de estándares y regulaciones pertinentes.<br>

            </p>        </div>
    </div>
</div>
<app-footer></app-footer>