<!-- internal-server-error.component.html -->
<div class="internal-server-error-container">
    <div class="error-content">
      <div class="decorative-lines"></div>
      <div class="error-message">
        <img src="assets/logo.png" alt="Logo de la empresa" class="logo">
        <h2>Error 500: Error Interno del Servidor</h2>  <img src="assets/enchufe.png" alt="Logo de la empresa" class="ico">

      <p>Se ha producido un error interno en el servidor al procesar tu solicitud.</p>
      <p>Nuestro equipo técnico ha sido notificado y está investigando la causa del problema.</p>
      <p>Este error puede deberse a problemas en el código del servidor, problemas de base de datos o recursos insuficientes.</p>
      <p>Te pedimos disculpas por las molestias y agradecemos tu paciencia mientras trabajamos en una solución.</p>
      <p>Vuelve a la <a routerLink="/">página de inicio</a> para explorar nuestras increíbles ofertas.</p>
      </div>
    </div>
  </div>
