/* mis-pedidos.component.css */

.pedidos-container {
    max-width: 80%; /* Ancho máximo del contenedor de pedidos */
    margin: 2% auto ; /* Agregar margen inferior para separar del fondo */
    border-style: groove;
    border-width: 10px;
    border-radius: 10px;
    padding: 2%;
    background-color: #efefef;
}

.pedido {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar verticalmente los elementos */
}

.footer{
    padding-top: 2.5%;
}
.pedido-info {
    margin-left: 1%; /* Espacio entre el contenido y la imagen */
    margin-right: 90px; /* Espacio entre el contenido y la imagen */
    flex-grow: 1; /* Ocupa todo el espacio disponible */
    max-height: 100px; /* Altura máxima de la descripción */
    overflow: auto; /* Agregar desbordamiento si excede la altura máxima */
    width: calc(100% - 120px); /* Ancho del contenedor de la descripción */
}
.pedido-info strong {
    display: block; /* Convertir el elemento strong en un bloque para separar líneas */
    margin-bottom: 5px; /* Agregar espacio debajo de cada título */
    margin-top: 5px;
}
.pedido-imagen {
    width: 100px; /* Ancho fijo de la imagen */
    height: 100px; /* Altura fija de la imagen */
    border-radius: 4px;
    object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
    display: inline-block; /* Mostrar la imagen como un elemento en línea */
    vertical-align: top; /* Alinear la imagen en la parte superior */
    margin-right: 25px; /* Espacio a la derecha */
}

.pedido-imagen img {
    width: 100px; /* Ancho fijo de la imagen */
    height: 100px; /* Altura fija de la imagen */
    border-radius: 4px;
    object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
    display: block; /* Mostrar la imagen como bloque */
    margin-right: 25px;
}

.ver-detalles-button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px 12px; /* Espaciado interno del botón */
    cursor: pointer; /* Cursor de apuntar */
}

.ver-detalles-button:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
}


/*NAV*/
nav {
    background-color: #ffdbac;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover,
nav a.cart-icon-link:hover {
    background-color: #ff8c00;
    color: #fff;
}

nav a.current {
    background-color: #ff8c00;
    color: #fff;
}

.cart-icon-container {
    margin-top: 15%;
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 9999;
    font-size: 24px;
}

nav a.cart-icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    font-size: 16px;
}

nav a.cart-icon-link i {
    margin-right: 5px;
}

/* Estilos para el contenedor de la fecha del pedido */
.fecha-pedido {
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: flex-start; /* Alinea la fecha a la derecha */
    margin-bottom: auto; /* Espacio inferior entre la fecha y el pedido */
    font-size: 14px; /* Tamaño de fuente de la fecha */
    border: 1px solid #ddd; /* Agrega un contorno alrededor del contenedor */
    border-radius: 5px; /* Añade bordes redondeados al contorno */
    padding: 5px 10px; /* Agrega espacio interno al contorno */
    background-color: #fff; /* Establece el fondo blanco */
}

/* Estilos para el texto 'Fecha del pedido:' */
.fecha-texto {
    margin-right: 10px; /* Espacio entre el texto y la fecha */
}

/* Estilos para la fecha */
.fecha {
    font-weight: bold; /* Hace que la fecha sea negrita */
    color: #333; /* Color del texto de la fecha */
}
