<!-- mis-pedidos.component.html -->
<app-header-cliente></app-header-cliente>
<nav>
    <a routerLink="/inicio-cliente">Inicio</a>
    <a routerLink="/restaurantes-cliente">Restaurantes</a>
    <a routerLink="/cli-envios">Envíos</a>
    <a routerLink="/cli-ofertas">Ofertas</a>
    <a routerLink="/mis-pedidos" class="current">Mis pedidos</a>
    <!-- Icono del carrito dentro del nav -->
    <a routerLink="/carrito-clienteG" class="cart-icon-link">
        <i class="fas fa-shopping-cart"></i> Carrito
    </a>
</nav>

<!-- <app-notificaciones></app-notificaciones>  -->
<div *ngFor="let orden of ordenesConEstadoDos">
    <app-notificaciones 
    [nombreProducto]="orden.productoCancelado[0].nombreProducto" 
    [fechaPedido]="orden.createdAt"
    [idOrden]="orden._id"
    [idCliente]="orden.idCliente"
    [noProductos]="orden.noProductos" 
    [idDetalle]="orden.productoCancelado[0].idDetalle"
    (actualizarOrdenes)="actualizarOrdenes()">
     
    </app-notificaciones>
</div>  

<div *ngFor="let orden of ordenesConEstadoUno">
    <app-notificaciones-enterado
    [fechaPedido]="orden.createdAt"
    [idRestaurante]="orden.idRestaurante"
    [idOrden]="orden._id"
    (actualizarOrdenes)="actualizarOrdenes()">
    
    </app-notificaciones-enterado>
</div> 

<div *ngFor="let orden of ordenesConEstadoSiete">
    <app-notificaciones-entregado
    [idOrden]="orden._id"
    (actualizarOrdenes)="actualizarOrdenes()"> 

    </app-notificaciones-entregado> 
</div> 

<div class="pedidos-container">
    <h2>Pedidos realizados</h2>
    <!-- Contenedores de pedidos -->
    <div *ngFor="let orden of ordenes | keyvalue" class="pedido-container">
        <!-- Contenedor para la fecha del pedido -->
        <div class="fecha-pedido">
            <span class="fecha-texto">Fecha del pedido:</span>
            <span class="fecha">{{orden.value[0]?.fechaPedido | date:'medium'}} </span>
            <span class="fecha-texto"> Restaurante:</span>
            <span class="fecha">{{orden.value[0]?.nombreRestaurante}}</span>
        </div>

        <!-- Div de pedido -->
        <div *ngFor="let detalle of orden.value" class="pedido">
            <!-- Nombre del producto/s y Descripción -->
            <div class="pedido-info">
                <strong>Estado:</strong> {{obtenerEstado(detalle?.estadoOrden)}}<br>
                <strong>Nombre del producto:</strong>{{ detalle?.nombreProducto }}<br> 
            </div>
            <!-- Imagen -->
            <div class="pedido-imagen">
                <img [src]="getImageUrl(detalle.producto?.imagen[0])" [alt]="detalle?.nombreProducto"> 
            </div>
            <!-- Botón para ver detalles -->
            <button class="ver-detalles-button" (click)="verDetalles(detalle?._id)">Ver detalles de compra</button>
        </div>
    </div>
</div>

<footer class="footer">
    <app-footer></app-footer>
</footer>