<app-header-restaurante></app-header-restaurante>
<div class="admin-menu">
  <a routerLink="/inicio-restaurante">Inicio</a>
  <a routerLink="/rest-productos">Productos</a>
  <a href="/ofertas-restaurante">Ofertas</a>
  <a routerLink="/rest-pedidos">Pedidos</a>
  <a routerLink="/ventas-restaurante" class="admin-current-page">Ventas</a>
  <a routerLink="/rest-pagos">Pagos</a>
</div>
<div class="voz-alta-container">
  <label for="enableVozAlta">Habilitar voz alta al pasar el ratón:</label>
  <input type="checkbox" id="enableVozAlta" (change)="toggleVozAlta()">
</div>
<div class="sales-container">
  <div class="sales-title">
    <span>📊 Gestión de Ventas</span>
  </div>
  <div class="filters-container">
    <!-- Aquí van los filtros que ya tienes -->
  </div>
  <span>🛒</span>
  <button class="add-sale-button" (click)="toggleAddSaleForm()">Agregar Venta</button>
  <div class="add-sale-form" id="addSaleForm" style="display:none;">
    <form id="saleForm" (submit)="addSale($event)">
      <label for="product">Productos adquiridos:</label>
      <input type="text" id="product" name="product" required><br>
      <label for="quantity">Cantidad:</label>
      <input type="number" id="quantity" name="quantity" step="any" required><br>
      <label for="totalCost">Costo Total:</label>
      <input type="number" id="totalCost" name="totalCost" step="any" required><br>
      <label for="saleDate">Fecha de venta:</label>
      <input type="date" id="saleDate" name="saleDate" required><br>
      <label for="saleLocation">Dirección local o remota:</label>
      <input type="text" id="saleLocation" name="saleLocation" required><br>
      <input type="submit" value="Agregar">
    </form>
    <button type="button" (click)="cancelAdd()">Cancelar</button>
  </div>
  <table class="sales-table" id="salesTable">
    <thead>
      <tr>
        <th>Producto adquirido</th>
        <th>Cantidad</th>
        <th>Costo total</th>
        <th>Fecha de venta</th>
        <th>Dirección local o remota</th>
        <th>Folio</th> <!-- Mostrar el folio -->
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compra of compras">
        <td>{{ compra.nombreProducto }}</td>
        <td>{{ compra.cantidadProducto }}</td>
        <td>{{ compra.precioTotal | currency:'USD':'symbol':'1.2-2' }}</td> <!-- Muestra el costo total en formato de moneda -->
        <td>{{ compra.fechaHoraEntrega | date:'dd-MMMM-yyyy hh:mm' }}</td> <!-- Formato de fecha: 21-enero-2021 -->
        <td>{{ compra.direccion }}</td>
        <td>{{ compra.folio }}</td> <!-- Usar el folio calculado -->
        <td><span class="edit-icon" (click)="editSale(compra)">✏️</span></td>
      </tr>
    </tbody>
  </table>
  <div class="edit-sale-form" id="editSaleForm" style="display:none;">
    <!-- Aquí va el formulario de edición que ya tienes -->
  </div>
</div>
<div><br></div>
<footer>
  <app-footer-restaurante></app-footer-restaurante>
</footer>