<app-header></app-header>

<div class="contenido">
    <h1>AVISO DE PRIVACIDAD </h1>
    <div class="texto">
        <!-- El texto proporcionado -->
        Miguel Lara Hernández, mejor conocido como CEO de QuickDineHub, con domicilio en Calle Allende #13, colonia Tahuizán, ciudad Huejutla, municipio o delegación Huejutla de Reyes, c.p. 43000, en la entidad de Hidalgo, país México, y portal de internet www.QuickDineHub.net, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente: <br>


        <h2>¿Para qué fines utilizaremos sus datos personales? </h2>
        Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita: <br>
        <ul>
            <li>Mercadotecnia o publicitaria</li>
            <li>Prospección comercial</li>
        </ul>
        
        <br><br>
        De manera adicional, utilizaremos su información personal para las siguientes finalidades secundarias que no son necesarias para el servicio solicitado, pero que nos permiten y facilitan brindarle una mejor atención: <br>
        <ul>
    
            <li>Para seguimiento de preferencias de usuario</li>
        </ul>
        <br>
        En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, indíquelo a continuación: <br><br>
        No consiento que mis datos personales se utilicen para los siguientes fines: <br><br>
        [  ] Para seguimiento de preferencias de usuario <br><br>
        La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros. <br><br>

        <h2>¿Qué datos personales utilizaremos para estos fines?</h2>
        Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales: <br><br>
        <ul>
            <li>Nombre</li>
            <li>Fecha de nacimiento</li>
            <li>Nacionalidad</li>
            <li>Domicilio</li>
            <li>Teléfono particular</li>
            <li>Teléfono celular</li>
            <li>Correo electrónico</li>
            <li>Edad</li>
            <li>Fotografía</li>
            <li>Señas particulares</li>
            <li>Puesto o cargo que desempeña</li>
            <li>Domicilio de trabajo</li>
            <li>Teléfono institucional</li>
            <li>Referencias laborales</li>
            <li>Información generada durante los procesos de reclutamiento, selección y contratación</li>
            <li>Trayectoria educativa</li>
            <li>Cédula profesional</li>
            <li>Cuentas bancarias</li>
            <li>Número de tarjetas de crédito</li>
        </ul>
        <br>
        Además de los datos personales mencionados anteriormente, para las finalidades informadas en el presente aviso de privacidad utilizaremos los siguientes datos personales considerados como sensibles, que requieren de especial protección: <br><br>
        <ul>
            <li>Estado de salud físico presente, pasado o futuro</li>
            <li>Estado de salud mental presente, pasado o futuro</li>
        </ul>

        <h2>¿Con quién compartimos su información personal y para qué fines?</h2>
        Le informamos que sus datos personales son compartidos dentro del país con las siguientes personas, empresas, organizaciones o autoridades distintas a nosotros, para los siguientes fines: <br><br>
        <table>
            <thead>
              <tr>
                <th>Destinatario de los datos personales </th>
                <th>Finalidad </th>
                <th>Requiere del consentimiento</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>proveedor del servidor</td>
                <td>almacenamiento de información</td>
                <td>No</td>
              </tr>
            </tbody>
          </table>

          <h2>¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso? </h2>
          Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO. <br><br>
          Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del siguiente medio: <br><br>
          Domicilio: Calle Allende, #13, Colonia Tahuizan, C.P. 43000, Ciudad de Huejutla de Reyes, Teléfono: Lada52, 7713311521, Correo electrónico milahe102&#64;gmail.com, www.QuickDineHub.net <br><br>
          Con relación al procedimiento y requisitos para el ejercicio de sus derechos ARCO, le informamos lo siguiente: <br><br>
          a- ¿A través de qué medios pueden acreditar su identidad el titular y, en su caso, su representante, así como la personalidad este último?<br>
        Responsable Miguel Lara Hernández, CEO de QuickDineHub <br><br>
        b- ¿Qué información y/o documentación deberá contener la solicitud?<br>
        Tipos de datos a los que requiere el acceso, certificación u oposición, nombre, domicilio, deberá contener identificación oficial.
        <br><br>
        c- ¿En cuántos días le daremos respuesta a su solicitud?<br>
        3 dias habiles <br><br>
        d- ¿Por qué medio le comunicaremos la respuesta a su solicitud? <br>
Digital, correo electrónico. <br><br>
        e- ¿En qué medios se pueden reproducir los datos personales que, en su caso, solicite? <br>
        Base de datos interna <br><br>
        f- Ponemos a sus órdenes los siguientes formularios o sistemas para facilitar el ejercicio de derechos ARCO: <br>
        www.QuickDineHub.net/formatosderechoarco <br><br>
        g- Para mayor información sobre el procedimiento, ponemos a disposición los siguientes medios: <br>
        Correo electrónico: milahe102gmail.com, telefono:7713311521. <br><br>
        Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las solicitudes de derechos ARCO, son los siguientes: <br><br>
        a- Nombre de la persona o departamento de datos personales: Miguel Lara Hernández <br>
b- Domicilio: calle Allende #13, colonia Tahuizán, ciudad Huejutla de Reyes, municipio o delegación Huejutla de Reyes, c.p. 43000, en la entidad de Hidalgo, país México <br>
c- Correo electrónico: milahe102&#64;gmail.com <br>
d- Número telefónico: 77133115211 <br>
Otro dato de contacto: 7713633856 <br>

        <h2>Usted puede revocar su consentimiento para el uso de sus datos personales</h2>
        Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que, para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros. <br><br>
        Para revocar su consentimiento deberá presentar su solicitud a través del siguiente medio: <br><br>
        Domicilio, Correo electrónico, teléfono. <br><br>
        Con relación al procedimiento y requisitos para la revocación de su consentimiento, le informamos lo siguiente: <br><br>
        a- ¿A través de qué medios pueden acreditar su identidad el titular y, en su caso, su representante, así como la personalidad este último? <br>
Credencial de elector, identificación. <br><br>
b- ¿Qué información y/o documentación deberá contener la solicitud? <br>
Porque, es decir los motivos para esto así como la identificación <br><br>

c- ¿En cuántos días le daremos respuesta a su solicitud? <br>
10 días hábiles <br><br>
d- ¿Por qué medio le comunicaremos la respuesta a su solicitud? <br>
Digital, correo electrónico <br><br>
e- Para mayor información sobre el procedimiento, ponemos a disposición los siguientes medios: <br>
www.QuickDineHub.net/avisos/revocacion <br><br>
          <h2>¿Cómo puede limitar el uso o divulgación de su información personal? </h2>
          Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios: <br><br>
          Correo electronico, Telefono. <br><br>
          De manera adicional, le informamos que contamos con los siguientes listados de exclusión, en los cuales podrá registrarse para que sus datos personales no sean tratados para ciertos fines: <br><br>
          <table>
            <thead>
              <tr>
                <th>Nombre del listado  </th>
                <th>Finalidad para las que aplica  </th>
                <th>Medio para obtener mayor información </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Listado derechos Arco</td>
                <td>Derechos ARCO, Exclusión de datos</td>
                <td>Correo electrónico, Dirección postal</td>
              </tr>
            </tbody>
          </table>

          <br>
          Asimismo, usted se podrá inscribir a los siguientes registros, en caso de que no desee obtener publicidad de nuestra parte: <br><br>
          Registro Público para Evitar Publicidad, para mayor información consulte el portal de internet de la PROFECO <br><br>

          <h2>El uso de tecnologías de rastreo en nuestro portal de internet</h2>
          Le informamos que en nuestra página de internet utilizamos cookies, web beacons u otras tecnologías, a través de las cuales es posible monitorear su comportamiento como usuario de internet, así como brindarle un mejor servicio y experiencia al navegar en nuestra página. Los datos personales que recabamos a través de estas tecnologías, los utilizaremos para los siguientes fines: Le informamos que en nuestra página de internet utilizamos cookies, web beacons u otras tecnologías, a través de las cuales es posible monitorear su comportamiento como usuario de internet, así como brindarle un mejor servicio y experiencia al navegar en nuestra página. Los datos personales que recabamos a través de estas tecnologías, los utilizaremos para los siguientes fines: <br><br>
          Estadísticos. Mejorar la experiencia del usuario en la plataforma. Personalizar la publicidad mostrada al usuario. Analizar patrones de navegación y mejorar la calidad del servicio. <br><br>
          Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes: <br><br>
          Identificadores, nombre de usuario y contraseñas de una sesión
Idioma preferido por el usuario <br>
Región en la que se encuentra el usuario<br>
Tipo de sistema operativo del usuario<br>
Fecha y hora del inicio y final de una sesión de un usuario<br>
Páginas web visitadas por un usuario<br>
Búsquedas realizadas por un usuario<br>
Listas y hábitos de consumo en páginas de compras<br><br>

            Asimismo, le informamos que su información personal será compartida con las siguientes personas, empresas, organizaciones o autoridades distintas a nosotros, para los siguientes fines: <br><br>

            <table>
                <thead>
                <tr>
                    <th>Destinatario de los datos personales  </th>
                    <th>Finalidad </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Proveedor de servicios de análisis de datos</td>
                    <td>Analizar el comportamiento del usuario para mejorar la plataforma y personalizar la publicidad.</td>
                </tr>
                </tbody>
            </table>
            <br>
            Para conocer la forma en que se pueden deshabilitar estas tecnologías, consulte el siguiente medio: <br><br>
            Proporcionaremos información detallada sobre cómo deshabilitar estas tecnologías en nuestra sección de \"Configuración de Cookies\" en la página web. <br><br>

            <h2>¿Como puede conocer los cambios en este aviso de privacidad?</h2>
            El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas. <br><br>
            Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, a través de: Publicación de anuncios en nuestra página web. Envío de notificaciones por correo electrónico a los usuarios registrados. Inclusión de alertas en la aplicación móvil. <br><br>
            El procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o actualizaciones al presente aviso de privacidad es el siguiente: <br><br>

            Última actualización: 14/11/2023 
<br><br>
</div>
</div>
<app-footer></app-footer>