/* inicio-cliente.component.css */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff8c00;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img {
    max-width: 15%;
    height: auto;
    border-radius: 10px; /* Añadido para borde redondeado */
    margin-left:6%;
    transition: color 0.3s; /* Agregamos una transición para suavizar el cambio de color */
}

.company-name {
    font-size: 24px;
    font-weight: bold;
    padding-right: 10%;

}

.user-icon {
    margin-right: 10px;
}

.edit-profile-button {
    background-color: #fff;
    color: #ff8c00;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10%;
}

.edit-profile-button:hover {
    background-color: #ffdbac;
}
nav {
    background-color: #ffdbac;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ff8c00;
    color: #fff;
}

nav a.current {
    background-color: #ff8c00;
    color: #fff;
}

.products-container {
    max-width: 100%;
    margin: 2px auto;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajusta el espaciado */
    gap: 10px; /* Reduce la distancia entre los productos */
    padding: 10px; /* Añadir padding alrededor del contenedor */
}


.product {
    background-color: #fff;
    padding: 2%;
    margin: 2%; /* Reduce el margen entre productos */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%; /* Ajusta el ancho de las cajas */
    height: 40%; /* Fija la altura de todas las cajas */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.product img {
    width: 100%;
    height: 200px; /* Fija la altura de las imágenes */
    object-fit: cover; /* Asegura que las imágenes llenen la caja correctamente */
    border-radius: 10%;
    margin-bottom: 10%;
}

.product h3 {
    color: #ff8c00;
    margin-bottom: .02%;
}

/* Aplicamos un margen derecho solo para los productos que no son el último */
.product:not(:last-child) {
    margin-right: 0%;
}

.product-description {
    color: #666;
    margin-bottom: 15px;
}

.product-price {
    color: #ff8c00;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

/* Estilos para cada etiqueta de producto */
.product-tags {
    margin-top: 10px;
}

.product-tag {
    display: inline-block;
    background-color: #eca74e; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 15px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar */
    transition: background-color 0.3s; /* Transición de color al pasar */
    text-decoration: none; /* Quitamos la subrayado de los enlaces */
    margin-right: 5px; /* Espaciado entre etiquetas */
}

/* Estilo adicional para los botones de etiquetas en hover */
.product-tag:hover {
    background-color: #cc7927; /* Cambio de color al pasar el mouse */
}



.product p {
    color: #666;
}

.action-buttons {
    display: flex;
    width: 100%; /* Asegura que los botones ocupen todo el ancho del contenedor */
    display: flex; /* Aplica un diseño flex para los botones */
    justify-content: space-between; /* Espacia los botones uniformemente */
}

.product-description {
    margin-bottom: 10px; /* Asegura espacio entre la descripción y los botones/etiquetas */
}

.buy-button,
.view-button {
    flex: 1;
    text-align: center;
    text-decoration: none;
    padding: 5% ;
    border-radius: 5px;
    cursor: pointer;   
}

.buy-button {
    background-color: #ff8c00;
    color: #fff;
    margin-right: 1%;
}

.view-button {
    background-color: #3498db;
    color: #fff;
    margin-left: 5px;
}
.buy-button:hover{
    background-color: #cc7927; /* Cambio de color al pasar el mouse */
}
.view-button:hover {
    background-color: #2a77ab; /* Cambio de color al pasar el mouse */
}

.carousel-container {
    position: relative;
    max-width: 60%;
    max-height: 20%;
    margin: 5px auto 2%;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%; /* Altura de las imágenes */
    object-fit: cover; /* Ajusta el comportamiento de la imagen para cubrir la caja */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.product img:hover {
    transform: scale(1.3); /* Escala al 130% en hover */
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
}

.carousel-images {
    display: flex;
    transition: transform 0.3s ease-in-out;
    margin: 0 20px; /* Ajusta el espacio entre las imágenes */
}

.prev,
.next {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #ff8c00;
    padding: 9px 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Estilo adicional para los botones del carrusel */
.prev:hover,
.next:hover {
    background-color: #ffcc80; /* Cambia el color al pasar el ratón */
}

/* Estilo adicional para el contenedor del carrusel */
.carousel-container:hover .prev,
.carousel-container:hover .next {
    background-color: #ff9933; /* Cambia el color al pasar el ratón sobre el contenedor */
}
/* voz alta */
  
label {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
  }
  
  #enableVozAlta {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
  }
  
  #enableVozAlta:checked {
    background-color: #2196F3;
    border: 1px solid #2196F3;
  }


  
  /*agregar al carrito*/
  .add-to-cart-button {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 5%; /* Espaciado interno */
    border: none; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar */
    text-align: center; /* Alineación de texto */
    text-decoration: none; /* Decoración de texto */
    display: inline-block; /* Mostrar como elemento en línea */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s; /* Transición de color al pasar */
    margin: auto;
}

.add-to-cart-button:hover {
    background-color: #358339; /* Cambio de color al pasar el mouse */
}

.message-container {
    position: fixed;
    bottom: 50px; /* Ajusta la posición vertical */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fbc471; /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    padding: 20px; /* Aumenta el espacio interno */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 9999;
    width: fit-content; /* Ajusta el ancho automáticamente al contenido */
    display: flex; /* Utiliza flexbox para centrar el contenido verticalmente */
    align-items: center; /* Centra verticalmente el contenido */
}

.message {
    margin: 0;
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    margin-left: 10px; /* Espacio entre el icono y el texto */
    margin-right: 10px;
}

.link {
    margin-right: 10px;
    cursor: pointer;
    color: #3e7cc0;
    text-decoration: underline;
}

.link:hover {
    color: #024185;
}

/*carrito iconos*/
  

.cart-icon-container {
    margin-top: 15%;
    position:absolute;
    top: 20px;
    right: 40px;
    z-index: 9999;
    font-size: 24px;

}

nav a.cart-icon-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    font-size: 16px; /* Ajusta según necesidad */
}

nav a.cart-icon-link i {
    margin-right: 5px; /* Espacio entre el icono y el texto "Carrito" */
}
.cart-icon-link:hover {
    color: #ff8c00;
}
  /* Resto de los estilos */

  .centered {
    text-align: center;
    margin-top: 20px; /* Ajusta este valor según sea necesario */
  }
  
  .search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.search-input {
    width: 100%;
    padding: 12px 60px 12px 20px; /* Espacio adicional para ambos íconos */
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.search-icon, .voice-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #aaa;
    pointer-events: none;
}

.search-icon {
    right: 40px; /* Espacio para el icono de micrófono */
    pointer-events: none;
}

.voice-icon {
    right: 12px; /* El micrófono a la derecha del icono de búsqueda */
    pointer-events: all; /* Para hacer clic en el micrófono */
    cursor: pointer;
    color: #000; /* Color inicial */
    transition: color 0.3s ease; /* Suavizar el cambio de color */
}

/* Cambiar color cuando esté activo */
.voice-icon.active {
    color: red; /* Color verde cuando está activo */
}
 
/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    nav a {
        font-size: 16px; /* Tamaño de fuente más pequeño */
        padding: 6px 10px; /* Menor padding para que los enlaces se ajusten mejor */
        margin: 0 8px; /* Reduce el margen entre los enlaces */
    }
}

/* Media queries para pantallas aún más pequeñas (móviles)  */
@media (max-width: 480px) {
    nav {
        padding: 8px 0; /* Reduce el padding de la barra en pantallas pequeñas */
    }

    nav a {
        font-size: 14px; /* Tamaño de fuente más pequeño para móviles */
        padding: 5px 8px; /* Aún más pequeño padding para ajustarse mejor */
        margin: 0 5px; /* Menor margen entre los enlaces en pantallas pequeñas */
    }

}
/* CAJAS  */

@media (max-width: 1024px) {
    .product {
        width: 35%; /* Ajusta el ancho de las cajas en pantallas medianas */
    }

    .product img {
        width: 100%;
        height: 150px; /* Reducir la altura de las imágenes */
    }

    .buy-button, .view-button, .add-to-cart-button {
        padding: 4% 0; /* Ajusta el tamaño de los botones */
        font-size: 14px; /* Ajusta el tamaño del texto en los botones */
    }

    .product h3, .product-price, .product-description {
        font-size: 14px; /* Ajusta el tamaño de los textos */
    }
}

/* Media queries para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
    nav a {
        font-size: 14px; /* Reduce el tamaño de la fuente en los enlaces del menú */
        padding: 5px 8px; /* Reduce el padding en los enlaces */
    }

    .product {
        width: 40%; /* Los productos ocupan un 48% de la pantalla (2 por fila) */
        margin: 2% 0; /* Reduce el margen entre los productos */
    }

    .product img {
        width: 100%;
        height: 120px; /* Ajusta el tamaño de las imágenes */
    }

    .buy-button, .view-button, .add-to-cart-button {
        padding: 4% 0; /* Ajusta el tamaño de los botones */
        font-size: 14px; /* Ajusta el tamaño del texto en los botones */
    }

    .product h3, .product-price, .product-description {
        font-size: 14px; /* Ajusta el tamaño de los textos */
    }
}

/* Media queries para pantallas extra pequeñas (hasta 480px) */
@media (max-width: 480px) {
    nav {
        padding: 8px 0; /* Reduce el padding de la barra en pantallas pequeñas */
    }

    nav a {
        font-size: 12px; /* Tamaño de fuente más pequeño para móviles */
        padding: 4px 6px; /* Aún más pequeño padding para ajustarse mejor */
        margin: 0 4px; /* Menor margen entre los enlaces en pantallas pequeñas */
    }

    .product {
        width: 40%; /* Los productos ocupan un 48% de la pantalla (2 por fila) */
        margin: 2% 0; /* Reduce el margen entre los productos */
        height: auto; /* Ajusta la altura de las cajas */
    }

    .product img {
        width: 100%;
        height: 100px; /* Ajusta la altura de las imágenes */
    }

    .buy-button, .view-button, .add-to-cart-button {
        padding: 3% 0; /* Ajusta el tamaño de los botones */
        font-size: 12px; /* Ajusta el tamaño del texto en los botones */
    }

    .product h3, .product-price, .product-description {
        font-size: 12px; /* Ajusta el tamaño de los textos */
    }
}